<h3>Enter Text to Display on Alert Fire Below</h3>
<div id = "evidence-area">
        <div style ="float:left; min-width: 400px">
            Short Title
            <input class = "form-control evidence-editor-text" id ="short-title" name = "short-title">
            Short Description
            <textarea class = "form-control evidence-editor-text" id ="short-description" name = "short-description"></textarea>
            Long Title
            <input class = "form-control evidence-editor-text" id ="long-title" name = "long-title">
            Long Description
            <textarea class = "form-control evidence-editor-text" id ="long-description" name = "long-description"></textarea>
        </div>

</div>