<div style="max-width:300px" class="container">
  <span class="title headings">
    Your Rules:


  </span>

  <div class="maven-padding"></div>
  <div class="row">
    <table style="font-size:130%" name="testName" class="rule-table table table-condensed table-hover">
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="maven-padding"></div>

      <button class="btn btn-info" id = "addRuleButton">
	        Create New Rule
      </button>
      <button class="btn btn-info" disabled = "true" id = "saveRuleButton">
	        Save Rule
      </button>
</div>
<!--
   <div style="clear: both">

   <span class="tooltip-for-slider detail-input" name="min-days">word</span>
   <input type="text" class="slider" style="width:300px" value="" data-slider-min="0" data-slider-max="" data-slider-tooltip="show">
   </div>
  --<script>
       $('.slider').slider()
       $('.slider').on('slide', function(){
           var val = parseInt($('.slider')[1].value);
           val = val * val;
           $('.tooltip-for-slider').html(val)
           $('.tooltip-for-slider').val(val)
           console.log($('.tooltip-for-slider').val())
       })
   </script> --!>