
<div>
    <h4>
        Sources:
        <div style="text-align: center" id = "source-list"></div>
    </h4>

    <h5>Enter New Source Info Below</h5>
    <div style="clear: both">

            <input style ="clear:both" class = "form-control source-field" id = "source-name-field" placeholder="Name" type="text">
            <input class = "form-control source-field" id = "source-abbrev-field" placeholder="Abbreviation" type="text">
            <input class = "form-control source-field" id = "source-hyperlink-field" placeholder="Hyperlink" type="text">
            <span class="input-group-btn">
               <button class="btn btn-default" id="add-source-button">Add</button>
            </span>
        </div>
    </div>

</div>