<br>
<div style="clear: both; text-align: center">
<div class="col-lg-6">
       <div class="input-group">
                    <input class = "form-control" id = "Detail-Search-Box" type="text" value="Search Box" style="min-width: 200px">
                      <span class="input-group-btn">
                        <button class="btn btn-default" id="searchButton">Search</button>
                       </span>



       </div>
       <br>
    <select name = 'code' style ="text-align: center; min-width:200px" class="form-control entries drop-down detail-input">
                        <option class="'default"></option>
    </select>
</div>

</div>