	     <div class = 'detail-editor-heading'>Create/Edit Encounter Diagnosis Detail</div>
         <div>

         This rule will
         <select class="detail-input" name="negative">
              <option value="false" selected>be used only if </option>
              <option value="true"> not be used if</option>
          </select>
		 The patients encounter contains the diagnosis <span style="float:right" class = 'search'></span>
	      </div>
	      <div>
          <br>
		  <button class="confirm-detail-button">Confirm</button>
          <button class="cancel-edit-button">Cancel</button>
	      </div>
