	     <div class = 'detail-editor-heading'>Create/Edit Encounter Diagnosis Detail</div>
         <div>

         This rule will
         <select class="detail-input form-control" name="exists">
              <option value="true" selected>be used only if </option>
              <option value="false"> not be used if</option>
          </select>
		 The patients encounter contains the diagnosis <span class = 'search' role="snomed"></span>
	      </div>
	      <div>
          <br>
		  <button class="btn btn-info confirm-detail-button">Confirm</button>
          <button class="btn btn-info cancel-edit-button">Cancel</button>
	      </div>
