	     <div class = 'detail-editor-heading'>Create/Edit Encounter Diagnosis Constraint</div>
         <div>


         <select class="detail-input form-control attn-text" name="exists">
              <option value="true" selected>Alert the clinician only if</option>
              <option value="false"> Do not alert the clinician if</option>
          </select>
		 <p class="attn-text">The patients encounter contains the diagnosis </p><span class = 'search' role="snomed"></span>
	      </div>
	      <div style = "clear:both">
          <br>
		    <button style = "float:left" class="btn btn-info cancel-edit-button">Cancel</button>
            <button style = "float:right" class="btn btn-info confirm-detail-button">Confirm</button>
	      </div>
          <div style = "clear:both"></div>

