	     <div class = 'detail-editor-heading'>Create/Edit Encounter or Problem List Diagnosis Detail</div>
         <div>


         <select class="detail-input form-control attn-txt" style="clear:both" name="exists">
                     <option value="true" selected>only alert the clinician if</option>
                     <option value="false"> do not alert the clinician if</option>

          </select>
		 <p class="attn-text">The patients Encounter or Problem List contains the diagnosis</p> <span style="clear:both" class = 'search'></span>
	      </div>
	      <div style = "clear:both">
          <br>
		    <button style = "float:left" class="btn btn-info cancel-edit-button">Cancel</button>
            <button style = "float:right" class="btn btn-info confirm-detail-button">Confirm</button>
	      </div>
          <div style = "clear:both"></div>

