	     <div class = 'detail-editor-heading'>Create/Edit Historical Diagnosis Detail</div>
         <div>
         This rule will
         <select class="detail-input form-control" name="negative">
              <option value="false" selected> be used only if </option>
              <option value="true"> not be used if</option>
          </select>
		 The subject had the diagnosis <span style="float:left" class = 'search'></span>
         <div style="clear: both; min-height: 30px;"></div>
          in the time frame from <input name = "minDays" class="form-control detail-input" type="text" value="0"> till <input name = "maxDays"  class ="form-control detail-input" type="text" value="0"> days from the present
	      </div>
	      <div>
          <br>
		  <button class="btn btn-info confirm-detail-button">Confirm</button>
          <button class="btn btn-info cancel-edit-button">Cancel</button>
	      </div>
