	     <div class = 'detail-editor-heading'>Create/Edit Historical Procedure Detail</div>
         <div>
         This rule will
         <select class="detail-input form-control" name="exists">
              <option value="true" selected> be used only if </option>
              <option value="false"> not be used if</option>
          </select>
             <br>
		 The subject underwent the procedure <span style="clear:both" class = 'search'></span>
         <div style="clear: both; min-height: 30px;"></div>
          in the time frame from <input name = "minDays" class="form-control detail-input" type="text" value="0"> till <input name = "maxDays"  class ="form-control detail-input" type="text" value="0"> days from the present
	      </div>
	      <div>
          <br>
		  <button class="btn btn-info confirm-detail-button">Confirm</button>
          <button class="btn btn-info cancel-edit-button">Cancel</button>
	      </div>
