<div class="detail-entry">
    <a class="detail-item">
    <% if (negative == "true") { %>
            Rule will not be used if the subject had the diagnosis with SNOMED <%=code%>
            <br>in the time frame <%=minDays%> to <%=maxDays%> days from the present
    <%} else { %>
            Rule will be used only if the  subject had the diagnosis with SNOMED <%=code%>
            <br>in the time frame <%=minDays%> to <%=maxDays%> days from the present
    <%}%>
    </a>
    <a style = "float: right" class="remove-detail">&#10006</a>

</div>