<div class="detail-entry">
    <a class="detail-item">
    <% if (exists == "false") { %>
            Rule will <b>not be used</b> if the subject had the diagnosis <b><%=term%>(Snomed: <%=code%>)</b>
            <br>in the time frame <b><%=minDays%></b> to <b><%=maxDays%></b> days from the present
    <%} else { %>
            Rule will <b>be used only</b> if the subject dhad the diagnosis <b><%=term%>(Snomed: <%=code%>)</b>
            <br>in the time frame <b><%=minDays%></b> to <b><%=maxDays%></b> days from the present
    <%}%>
    </a>
    <a style = "float: right" class="remove-detail">&#10006</a>

</div>