	     <div class = 'detail-editor-heading'>Create/Edit Historical Procedure Constraint</div>
         <div>

         <select class="detail-input form-control attn-text" name="exists">
              <option value="true" selected>only alert the clinician if</option>
              <option value="false"> do not alert the clinician if</option>

          </select>
             <br>
		 <p class="attn-text">The subject underwent the procedure </p><span style="clear:both" class = 'attn-text search'></span>
         <div style="clear: both; min-height: 30px;"></div>
          <p class="attn-text">in the time frame from</p><input name = "minDays" class="form-control detail-input" type="text" value="0"><p class="attn-text">till</p><input name = "maxDays"  class ="form-control detail-input" type="text" value="0"><p class="attn-text"> days from the present</p>
	      </div>
	      <div style = "clear:both">
          <br>
		    <button style = "float:left" class="btn btn-info cancel-edit-button">Cancel</button>
            <button style = "float:right" class="btn btn-info confirm-detail-button">Confirm</button>
	      </div>
          <div style = "clear:both"></div>

