	     <div class = 'detail-editor-heading'>Create/Edit Historical Procedure Constraint</div>
         <div>

         <select class="detail-input form-control attn-text" name="exists">
              <option value="true" selected>only alert the clinician if</option>
              <option value="false"> do not alert the clinician if</option>

          </select>
             <br>
		 <p class="attn-text">The subject underwent the procedure </p><span style="clear:both" class = 'attn-text search'></span>
         <div style="clear: both; min-height: 30px;"></div>


              <p class="attn-text">in the time frame from
             <br>
              <div style = "clear:both" name="minDays" class="min-days detail-input">
                 <div style="float:left">Days<br><input class="range-input days-min" placeholder="Days"></div>
                 <div style="float:left">Weeks<br><input  class="range-input weeks-min" placeholder="Weeks"></div>
                 <div style="float:left">Months<br><input class="range-input months-min" placeholder="Months"></div>
                 <div style="float:left">Years<br><input class="range-input years-min" placeholder="Years"></div>
             </div>
             <br>
         <div style = "float:right" class = "attn-text">till </div>
             <br>
             <br>
             <div style = "clear: both" name="maxDays" class="max-days detail-input">
                 <div style="float:left">Days<br><input class="range-input days-max" placeholder="Days"></div>
                 <div style="float:left">Weeks<br><input  class="range-input weeks-max" placeholder="Weeks"></div>
                 <div style="float:left">Months<br><input class="range-input months-max" placeholder="Months"></div>
                 <div style="float:left">Years<br><input class="range-input years-max" placeholder="Years"></div>
             </div>
             <br>

             <script>
                $('.confirm-detail-button').on('click', function(){
                    var minDays = 0+parseInt($('.days-min').val())
                    var minWeeks = 0+parseInt($('.weeks-min').val())
                    var minMonths = 0+parseInt($('.months-min').val())
                    var minYears = 0+parseInt($('.years-min').val())

                    var maxDays = 0+parseInt($('.days-max').val())
                    var maxWeeks = 0+parseInt($('.weeks-max').val())
                    var maxMonths = 0+parseInt($('.months-max').val())
                    var maxYears = 0+parseInt($('.years-max').val())

                    if (!minDays) minDays = 0;
                    if (!minWeeks) minWeeks = 0;
                    if (!minMonths) minMonths = 0;
                    if (!minYears) minYears = 0;

                    if (!maxDays) maxDays = 0;
                    if (!maxWeeks) maxWeeks = 0;
                    if (!maxMonths) maxMonths = 0;
                    if (!maxYears) maxYears = 0;
                     var minval = minDays + 7*minWeeks+30*minMonths+365*minYears
                    $('.min-days').val(minval)
                     var maxval = maxDays + 7*maxWeeks+30*maxMonths+365*maxYears
                    $('.max-days').val(maxval)
                })
             </script>


	         </div>
	      <div style = "clear:both">
          <br>
		    <button style = "float:left" class="btn btn-info cancel-edit-button">Cancel</button>
            <button style = "float:right" class="btn btn-info confirm-detail-button">Confirm</button>
	      </div>
          <div style = "clear:both"></div>

