
	 <div class = 'detail-editor-heading'>Create/Edit Lab Result Detail</div>
         <div>

        Alert the physician only if the patient had the observation that
	<div class="multi-select-search" type="loinc" name = "obs_type"></div>
	was 
	<select class="detail-input form-control" name="relation">
		<option value=">">Greater Than</option>
		<option value="<">Less Than</option>
	</select>
	<input  name="value" class="form-control detail-input" type="text" value="0"  style="min-width:100px">
	in the time frame between
 	<input  name="mindays" class="form-control detail-input" type="text" value="0"  style="min-width:100px">
	and
	<input  name="maxdays" class="form-control detail-input" type="text" value="0"  style="min-width:100px">
	days from the present
    <br>
    <select class = "detail-input form-control" name = "lastlab">
        <option value = "true">This rule will only look at the last lab</option>
        <option value = "false" selected>This rule will look for any lab in the given time frame</option>
    </select>
    if there are no results of this type in the given time frame, this alert
             <select class="detail-input form-control" name="defaultval">
                 <option value = "true">should still be fired</option>
                 <option value = "false">should not be fired</option>
             </select>
        	</div>
	      <div>
          	<br>
	 	      <button class="btn btn-info confirm-detail-button">Confirm</button>
        	  <button class="btn btn-info cancel-edit-button">Cancel</button>
	      </div>

