
	 <div class = 'detail-editor-heading'>Create/Edit Lab Result Constraint</div>
         <div>

        <p class="attn-text">Alert the physician only if the patient had the observation that</p>
	<div style="clear:both" class="multi-select-search" type="loinc" name = "obs_type"></div>
    <div id="remainingcontent" style="text-align: center">
	<div style="clear:both">    <p class="attn-text">was</p> </div>

	<select class="detail-input form-control" name="relation">
		<option value=">">Greater Than</option>
		<option value="<">Less Than</option>
	</select>
	<input  name="value" class="form-control detail-input" type="text" value="0"  style="min-width:100px">
	 <p class="attn-text">in the time frame from
             <br>
              <div style = "clear:both" name="mindays" class="min-days detail-input">
                 <div style="float:left">Days<br><input class="range-input days-min" placeholder="Days"></div>
                 <div style="float:left">Weeks<br><input  class="range-input weeks-min" placeholder="Weeks"></div>
                 <div style="float:left">Months<br><input class="range-input months-min" placeholder="Months"></div>
                 <div style="float:left">Years<br><input class="range-input years-min" placeholder="Years"></div>
             </div>
             <br>
         <div style = "float:right" class = "attn-text">till </div>
             <br>
             <br>
             <div style = "clear: both" name="maxdays" class="max-days detail-input">
                 <div style="float:left">Days<br><input class="range-input days-max" placeholder="Days"></div>
                 <div style="float:left">Weeks<br><input  class="range-input weeks-max" placeholder="Weeks"></div>
                 <div style="float:left">Months<br><input class="range-input months-max" placeholder="Months"></div>
                 <div style="float:left">Years<br><input class="range-input years-max" placeholder="Years"></div>
             </div>
             <br>

             <script>
                $('.confirm-detail-button').on('click', function(){
                    var minDays = 0+parseInt($('.days-min').val())
                    var minWeeks = 0+parseInt($('.weeks-min').val())
                    var minMonths = 0+parseInt($('.months-min').val())
                    var minYears = 0+parseInt($('.years-min').val())

                    var maxDays = 0+parseInt($('.days-max').val())
                    var maxWeeks = 0+parseInt($('.weeks-max').val())
                    var maxMonths = 0+parseInt($('.months-max').val())
                    var maxYears = 0+parseInt($('.years-max').val())

                    if (!minDays) minDays = 0;
                    if (!minWeeks) minWeeks = 0;
                    if (!minMonths) minMonths = 0;
                    if (!minYears) minYears = 0;

                    if (!maxDays) maxDays = 0;
                    if (!maxWeeks) maxWeeks = 0;
                    if (!maxMonths) maxMonths = 0;
                    if (!maxYears) maxYears = 0;
                     var minval = minDays + 7*minWeeks+30*minMonths+365*minYears
                    $('.min-days').val(minval)
                     var maxval = maxDays + 7*maxWeeks+30*maxMonths+365*maxYears
                    $('.max-days').val(maxval)
                })
             </script>
    <br>
    <select class = "detail-input form-control" name = "lastlab">
        <option value = "true">This rule will only look at the last lab</option>
        <option value = "false" selected>This rule will look for any lab in the given time frame</option>
    </select>
    <p class="attn-text">if there are no results of this type in the given time frame, this alert</p>
             <select class="detail-input form-control" name="defaultval">
                 <option value = "true">should still be fired</option>
                 <option value = "false">should not be fired</option>
             </select>
    </div>
        	</div>
	      <div>
          	<br>
	 	      <button class="btn btn-info confirm-detail-button">Confirm</button>
        	  <button class="btn btn-info cancel-edit-button">Cancel</button>
	      </div>

