<div class = 'detail-editor-heading'>Create/Edit Med List Drug Detail</div>
<div>
This rule will
<select class="detail-input form-control" name="exists">
<option value="true" selected>be used only if </option>
<option value="false"> not be used if</option>
</select>
The patients medication list contains the drug <span  class = 'search' role="med"></span>
    <p style = "float: left">Via The route:  </p><div style = "float: left" class = "route-list"></div>

</div>
<div style="clear: both">
<br>
<button class="btn btn-info confirm-detail-button">Confirm</button>
<button class="btn btn-info cancel-edit-button">Cancel</button>
</div>
