<p class="attn-text">Alert the clinician only if the patient's</p>
<select name="vital_type" class="form-control attn-text-small detail-input">
    <option>Blood Pressure</option>
    <option>Temperature</option>
    <option>Heart Rate</option>
    <option>Respiratory Rate</option>
    <option>Oxygen Saturation</option>
</select>
    <p class="attn-text">is within the range</p>
    <input class="attn-text-small detail-input form-control" value = "0.0" name="min_value">
    <p class="attn-text">to</p>
    <input class="attn-text-small detail-input form-control" value = "0.0" name="max_value">
<div style = "clear:both">
            <br>
		    <button style = "float:left" class="btn btn-info cancel-edit-button">Cancel</button>
            <button style = "float:right" class="btn btn-info confirm-detail-button">Confirm</button>
</div>
        <div style="clear:both"></div>