<div class="panel panel-default">

    <div class="panel-body">
        <h3 class="panel-title">
            Maven Alerts
        </h3>
        <div class="panel-body">
            <div class="panel-group" id="accordion2">
                <div class="panel panel-default">

		  <% _.each(alerts, function(alert) { %>
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion2" href="#collapse2-1">
                            <h4 class="sub-sub-panel panel-title">
                                <div class="row">
                                    <div class="col-sm-4">
                                      <%= alert.get("name") %>
                                    </div>
                                    <div class="col-sm-3">
                                      <%= alert.get("date") %>
                                    </div>
                                    <div class="col-sm-3">
                                      <%= alert.get("action") %>
                                    </div>
                                    <div class="col-sm-2">
                                      $<%= alert.get("cost") %>
                                    </div>
                                </div>
                            </h4>
                        </a>
                    </div>
		    <% }); %>

                </div>
            </div>
        </div>

    </div>
</div>
