<div id="evidence-<%= alert %>" class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">x</a>
                <hr/>
                <!--<h4>Title</h4>-->
            </div>

            <div class="modal-body">

                <div id="122" class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion">
                            <h4 class="sub-panel panel-title">
                                <b>Don’t order sinus computed tomography (CT) or indiscriminately prescribe
                                    antibiotics for uncomplicated acute rhinosinusitis</b>
                            </h4>
                        </a>
                    </div>
                    <div id='123' class="panel-collapse collapse in">
                        <div class="panel-body">
                            Viral infections cause the majority of acute rhinosinusitis and only 0.5 percent to 2
                            percent progress to bacterial infections. Most acute rhinosinusitis resolves without
                            treatment in two weeks. Uncomplicated acute rhinosinusitis is generally diagnosed
                            clinically and does not require a sinus CT scan or other imaging. Antibiotics are not
                            recommended for patients with uncomplicated acute rhinosinusitis who have mild illness
                            and assurance of follow-up. If a decision is made to treat, amoxicillin should be
                            first-line antibiotic treatment for most acute rhinosinusitis.
                            <span class="label label-info">Source</span>
                        </div>
                    </div>
                </div>

                <div id="111" class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion">
                            <h4 class="sub-panel panel-title">
                                <b>Clinical Pathway: Management Of Children With Symptoms Possibly Related To
                                    Sinusitis</b>
                            </h4>
                        </a>
                    </div>
                    <div id='222' class="panel-collapse collapse in">
                        <div class="panel-body">
                            <iframe src="https://www.ebmedicine.net/topics.php?paction=showTopicSeg&topic_id=126&seg_id=2530"
                                    width="95%" height="600"></iframe>
                        </div>
                    </div>
                </div>


                <div class="modal-footer">

                    <button type="button" class="btn btn-default btn-md" data-dismiss="modal">
                        <span class="glyphicon glyphicon glyphicon-thumbs-up"></span>
                    </button>
                    <button type="button" class="btn btn-default btn-md" data-dismiss="modal">
                        <span class="glyphicon glyphicon glyphicon-thumbs-down"></span>
                    </button>


                </div>


            </div>
        </div>
    </div>
</div>