<div id="evidence-<%= alert %>" class="modal fade" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <div style="margin-left: 75%">
                <button type="button" class="btn btn-default btn-md">
                        <span class="glyphicon glyphicon glyphicon-star"></span>
                    </button>
                <button type="button" class="btn btn-default btn-md" data-dismiss="modal">
                        <span class="glyphicon glyphicon glyphicon-thumbs-up"> 8%</span>
                    </button>
                    <button type="button"thumbs-up class="btn btn-default btn-md" data-dismiss="modal">
                        <span class="glyphicon glyphicon glyphicon-thumbs-down"> 92%</span>
                    </button>
                    </div>
                <!--<h4>Title</h4>-->
            </div>

            <div class="modal-body">

                <div id="122" class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion">
                            <h4 class="sub-panel panel-title">
                                <b>Don’t order sinus computed tomography (CT) or indiscriminately prescribe
                                    antibiotics for uncomplicated acute rhinosinusitis</b>
                            </h4>
                        </a>
                    </div>
                    <div id="123" class="panel-collapse collapse in">
                        <div class="panel-body">
                            Viral infections cause the majority of acute rhinosinusitis and only 0.5 percent to 2
                            percent progress to bacterial infections. Most acute rhinosinusitis resolves without
                            treatment in two weeks. Uncomplicated acute rhinosinusitis is generally diagnosed
                            clinically and does not require a sinus CT scan or other imaging. Antibiotics are not
                            recommended for patients with uncomplicated acute rhinosinusitis who have mild illness
                            and assurance of follow-up. If a decision is made to treat, amoxicillin should be
                            first-line antibiotic treatment for most acute rhinosinusitis.

                            <a href="http://www.acr.org/~/media/8172B4DE503149248E64856857674BB5.pdf" target="_blank"><span class="label label-info">ACR</span></a>
                            <a href="http://www.choosingwisely.org/doctor-patient-lists/american-academy-of-allergy-asthma-immunology/" target="_blank"><span class="label label-info">Choosing Wisely</span></a>
                        </div>
                    </div>
                </div>

                <div id="111" class="panel panel-default">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion">
                            <h4 class="sub-panel panel-title">
                                <b>Clinical Pathway: Management Of Children With Symptoms Possibly Related To
                                    Sinusitis</b>
                            </h4>
                        </a>
                    </div>
                    <div id="'222" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <img src="Sinusitis.JPG" width="95%" >
                        </div>
                    </div>
                </div>


                <div class="modal-footer">
                </div>


            </div>
        </div>
    </div>
</div>
