<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="panel-title">
            Orderables
        </h3>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" >
                        <h4 class="sub-panel panel-title">

                            <b>Echocardiogram</b>

                            <span class="badge alertbadge">$1200</span>
                        </h4>
                    </a>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="blue">You Ordered:</span>
                            </div>
                            <div class="col-sm-6">
                                Followup ECG ($1200)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="blue">Because:</span>
                            </div>
                            <div class="col-sm-6">
                                Mitral regurgitation
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="blue">Evidence Suggests:</span>
                            </div>
                            <div class="col-sm-6">
                                Don't test ($0)
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" >
                        <h4 class="sub-panel panel-title">

                            <b>CBC</b>

                            <span class="badge nonalert">$38</span>
                        </h4>
                    </a>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="blue">You Ordered:</span>
                            </div>
                            <div class="col-sm-6">
                                CBC ($38)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" data-parent="#accordion" >
                        <h4 class=" sub-panel panel-title">

                            <b>CRP</b>

                            <span class="badge nonalert">$47</span>
                        </h4>
                    </a>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <span class="blue">You Ordered:</span>
                            </div>
                            <div class="col-sm-6">
                                CRP ($47)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>