<!-- Patient Header -->
<div class="sub-header">
    <div class="row">
        <div class="col-sm-3">
            <div class="content">
                <h4>
                    <%= patient.get("name") %> <span style="font-size: 15px"> (<%= patient.get("gender") %> )</span>
                </h4>
                <%= patient.get("DOB") %>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="content">
                <h5>
                    <span class="blue">Allergies</span>
                </h5>
                <%= patient.get("Allergies") %>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="content">
                <h5>
                    <span class="blue">Problem List</span>
                </h5>
                <%= patient.get("Problem List") %>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="content">
                <h5>
                    <span class="blue">Recent Encounters</span>
                </h5>

                <div class="btn-group">
                    <button type="button" class="btn btn-xs btn-default"><a href="#/episode/9|76|3140328/patient/9">Today</a></button>
                    <button type="button" class="btn btn-xs btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#/episode/9|76|3140328/patient/9">1/4/2014</a></li>
                        <li><a href="#">2/3/2014</a></li>
                        <li><a href="#">12/17/2013</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Show more Encounters</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>
<!-- /Patient Header -->
