<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="panel-title">
            Dr.Smith's Recent Patients
        </h3>
        <table class="table table-condensed table-hover">
            <tbody>
            <tr class="active">
                <td>
                    <a href="patient.html">
                        Jordon Severt
                    </a>
                </td>
                <td>
                    Male
                </td>
                <td>
                    05/03/1987
                </td>
                <td>
                    Asthma
                </td>
                <td>
                    $1200
                </td>
            </tr>
            <tr>
                <td>
                    Adaline Malachi
                </td>
                <td>
                    Female
                </td>
                <td>
                    03/06/1986
                </td>
                <td>
                    Coccidiosis
                </td>
                <td>
                    $850
                </td>
            </tr>
            <tr>
                <td>
                    Jefferson Lariviere
                </td>
                <td>
                    Male
                </td>
                <td>
                    08/03/1999
                </td>
                <td>
                    Food poisoning
                </td>
                <td>
                    $200
                </td>
            </tr>
            <tr>
                <td>
                    Beulah Gay
                </td>
                <td>
                    Female
                </td>
                <td>
                    11/07/1935
                </td>
                <td>
                    Giardiasis
                </td>
                <td>
                    $400
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>