<!-- Patient Header -->
<div class="sub-header">
    <div class="row">
        <div class="col-sm-3">
            <div class="content">
                <h4>
                    <%= patient.get("name") %> <span style="font-size: 15px"> (<%= patient.get("gender") %> )</span>
                </h4>
                <%= patient.get("DOB") %>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="content">
                <h5>
                    <span class="blue">Allergies</span>
                </h5>
                <%= patient.get("Allergies") %>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="content">
                <h5>
                    <span class="blue">Problem List</span>
                </h5>
                <%= patient.get("Problem List") %>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="content">
                <h5>
                    <span class="blue">Last Encounter</span>
                </h5>
                <a href="encounter.html"> 5 days </a>
            </div>
        </div>
    </div>


</div>
<!-- /Patient Header -->
