<!-- Patient Header -->
<div class="sub-header">
    <div class="row">
        <div class="col-sm-3">
            <div class="content">
                <h4>
                    Jordon Severt <span style="font-size: 15px"> (Male)</span>
                </h4>
                05/03/1987
            </div>
        </div>
        <div class="col-sm-3">
            <div class="content">
                <h5>
                    <span class="blue">Allergies</span>
                </h5>
                Penicillins, Nuts, Cats
            </div>

        </div>
        <div class="col-sm-3">
            <div class="content">
                <h5>
                    <span class="blue">Problem List</span>
                </h5>
                Asthma, Cholera
            </div>
        </div>
        <div class="col-sm-3">
            <div class="content">
                <h5>
                    <span class="blue">Last Encounter</span>
                </h5>
                <a href="encounter.html"> 5 days </a>
            </div>
        </div>
    </div>


</div>
<!-- /Patient Header -->
