<div id="detail-modal" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete Node</h4>
      </div>

      <div class="modal-body">
         <h5>Would you like to delete only this node, or this node and all of its children?</h5>
      </div>

      <div class="modal-footer">
           <button class='btn btn-primary' id="thisNode">The Selected Node</button>
           <button class='btn btn-danger' id="allChildren">The Selected Node and All Children</button>
           <button class="btn btn-default" id="cancel" style="float:left" type="button" data-dismiss="modal">Cancel</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->