<div class = "widget-column col-sm-12">

<div style="clear: both; text-align: center">
<div>
       <div class="input-group">
                    <input class = "form-control" id = "Detail-Search-Box" type="text" style="min-width: 200px">
                      <span class="input-group-btn">
                        <button class="btn btn-sm btn-light" id="searchButton">Search</button>
                       </span>
                       <select id = "search_results" name = 'code' style ="text-align: center; min-width:200px" class="form-control entries hasTerm drop-down detail-input">

                        <option class="'default"></option>
                       </select>
       </div>
       <button style= "float: right" class = "btn btn-sm btn-light" id = "zoom-in-button">Zoom in on Concept</button>
       <button style= "float: right" class = "btn btn-sm btn-light" id = "zoom-out-button">Zoom out on Concept</button>


</div>

</div></div>
