<div class = "widget-column col-sm-12">

 <div id="detail-modal" class="modal fade" role="edit" >
     <div class="modal-dialog modal-lg"   style="width: 1400px">
        <div class="modal-content">
            <div class="modal-body">
                    Node Name: <textarea id = "newNodeText"></textarea>
                    Node Tooltip <textarea id = "newNodeTooltip"></textarea>
                    Node Side Panel Text <textarea id = "newNodeSideText"></textarea>
                    <button id = "addNodeButton">Confirm</button>
                </div>
            </div>
         </div>
 </div></div>
