<div class = "widget-column col-sm-12">


 <div id="detail-modal" class="modal fade" role="edit" >
     <div class="modal-dialog modal-lg"   style="width: 1400px">
        <div class="modal-content">
            <div class="modal-body">
                    Summary: <textarea id = "newProtocolSummary"></textarea>
                    <br>
                    Progress Note Text: <textarea id = "newProtocolNote"></textarea>
                    <br>
                    Reccomendation: <textarea id = "newProtocolRecommendation"></textarea>
                    <br>
                    <button id = "addNodeButton">Confirm</button>
                </div>
            </div>
         </div>
 </div></div>
