<div id="detail-modal" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Folder Name:</h4>
            </div>
            <div class="modal-body">
                <form class="bootbox-form">
                    <input class="pathwayFolderName bootbox-input bootbox-input-text form-control" name="folderName"
                           type="text" autofocus>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-sm pull-left" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary btn-sm createPathwayFolder">Create</button>
            </div>

        </div>
    </div>
</div>

