<div class = "widget-column, col-sm-12">
<div>
        <h2 class="headings alerts">
         Pathways
        </h2>
    <div class="col-md-12">
    <div style=" padding:0; max-height:600px; overflow-y:auto;">
         <div class="table-body">

        </div>
    </div>
    </div>
</div>
<div class="maven-padding"></div>


         <div style="padding-top: 30px" class="col-md-12">
            <div id="action-buttons">
                <button style='width:45%' id="newpath-button" class="btn btn-primary">Create New Pathway</button>
                <button style='width:45%' id="save-button" class="btn btn-primary">Save Pathway</button>
            </div>
        </div>



</div>
