<div class="page-header">
    <h1>
        Pathways
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Pathway Management &amp; Editing
        </small>
    </h1>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 widget-container-col">
        <!-- #section:custom/widget-box -->
        <div class="widget-box">
            <div class="widget-header widget-header-large">
                <h4 class="widget-title">Library</h4>
                <!-- #section:custom/widget-box.toolbar -->
                <div class="widget-toolbar">
                    <div class="widget-menu">
                        <a href="#" data-action="fullscreen" class="orange2">
                            <i class="ace-icon fa fa-expand"></i>
                        </a>
                        <a href="#" data-action="collapse">
                            <i class="ace-icon fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <!-- /section:custom/widget-box.toolbar -->
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="row">
                        <div class="col-sm-12 widget-container-col">
                            <div class="widget-box transparent">
                                <div class="widget-header">
                                    <h5 class="widget-title lighter">Folder &amp; Documents</h5>

                                    <div class="widget-toolbar">
                                        <div class="widget-menu">
                                            <button class="btn btn-white btn-primary btn-xs dropdown-toggle" data-action="settings" data-toggle="dropdown">New<span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                            </button>
                                            <ul class="dropdown-menu dropdown-menu-right dropdown-light-blue dropdown-caret dropdown-closer">
                                                <li>
                                                    <a id='paths-list-add-folder' class="blue">
                                                        New Folder
                                                    </a>
                                                </li>
                                                <li>
                                                    <a id='add-base-pathway' class="blue">
                                                        New Pathway
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="widget-menu">
                                            <button class="btn btn-white btn-primary btn-xs dz-clickable path" id="mvn-importpath-btn"><span class="ace-icon fa fa-cloud-upload light-blue"></span>Import
                                                <input id="browser" type="file" accept=".pathway" class="mvn-importpath">
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <div class="dd" id="nestable" style="max-width: NONE; width:100%">
                                            <ol class="dd-list" id="avail-paths-list">

                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>