<div class="pathway-folder-title" name="<%=name%>">
    <span class="glyphicon glyphicon-folder-close folder-state"></span>
    <span class="glyphicon glyphicon-folder-open folder-state"></span>
    <span class="folder-title"><%= (typeof name !== "undefined" ? name : '' ) %></span>
    <div class="folder-control">
        <a><span class="glyphicon glyphicon-folder-close add-sub-folder"></span></a>
        <a><span data-toggle="tooltip" title="New Pathway" class="add-sub-pathway">
                <img src="../images/temp/newPath.jpg" style="width: 20px; height: 20px"></span></a>
    </div>
</div>
<ol class="sub-folder-contents sortable-folder">

</ol>