<div class="pathway-folder-title dd-handle dd2-handle" name="<%=name%>" title="Pathway Folder">
    <!--<span title="New Folder" class="glyphicon glyphicon-folder-close"></span>
    <span title="New Folder" class="glyphicon glyphicon-folder-open"></span> -->
    <i class="normal-icon ace-icon fa fa-folder orange bigger-130"></i>
    <i class="drag-icon ace-icon fa fa-arrows bigger-125"></i>
</div>
<div class="dd2-content">
    <span class="folder-title"><%=name%></span>
    <div class="pull-right action-buttons">
        <div class="btn-group">
            <button class="btn btn-white btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">New<span class="ace-icon fa fa-caret-down icon-on-right"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right dropdown-caret">
                <li>
                    <a class="add-sub-folder">Sub-Folder</a>
                </li>
                <li>
                    <a class="add-sub-pathway">Pathway</a>
                </li>
            </ul>
        </div>
        <div class="btn-group">
            <button class="btn btn-white btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">Edit<span class="ace-icon fa fa-caret-down icon-on-right"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right dropdown-caret">
                <li>
                    <a class="rename-folder">Rename</a>
                </li>
            </ul>
        </div>
        <a class="red delete-folder" title="Delete Folder">
            <i class="ace-icon fa fa-trash-o bigger-140"></i>
        </a>
    </div>
</div>
<ol class="sub-folder-contents dd-list"></ol>
