<div class="page-header">
    <h1>
        Pathways
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Pathway Management &amp; Editing
        </small>
    </h1>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 widget-container-col">
        <!-- #section:custom/widget-box -->
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title">Pathways</h5>
                <!-- #section:custom/widget-box.toolbar -->
                <div class="widget-toolbar">
                    <div class="widget-menu">
                        <a data-action="settings" data-toggle="dropdown">
                            <i class="ace-icon fa fa-plus">New</i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right dropdown-light-blue dropdown-caret dropdown-closer">
                            <li>
                                <a id='paths-list-add-folder' class="blue">
                                    New Folder
                                </a>
                            </li>
                            <li>
                                <a id='add-base-pathway' class="blue">
                                    New Pathway
                                </a>
                            </li>
                        </ul>
                    </div>

                    <a href="#" data-action="close">
                        <i class="ace-icon fa fa-times"></i>
                    </a>
                </div>
                <!-- /section:custom/widget-box.toolbar -->
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <div class="dd" id="nestable">
                        <ol class="dd-list" id="avail-paths-list">

                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>