<div class="pathway-folder-title dd-handle">
    <span title="New Folder" class="glyphicon glyphicon-folder-close"></span>
    <%=name%>
    <div class="pull-right action-buttons">

        <a class="add-sub-folder">
            <i class="ace-icon fa fa-plus bigger-150"></i>
        </a>
        <a class="add-sub-pathway">
            <i class="ace-icon fa fa-plus bigger-150"></i>
        </a>
        <a class="red delete-folder">
            <i class="ace-icon fa fa-trash-o bigger-150"></i>
        </a>

    </div>

</div>
<ol class="sub-folder-contents dd-list">

</ol>
