
<div id="toast">
    <span class="glyphicon glyphicon-ok"></span>
    Note-ready text added to clipboard
</div>


<div class = "protocolNode">
    <span>
        <strong>
            PROTOCOL
        </strong>
        <span style="max-width: 350px;">
            <%=protocolNode.protocol%>
        </span>

    </span>


    <br>
     <% if (page == 'pathEditor') { %>
    <div class="btn-group btn-group-xs">
        <button id='sendSetup-button' type="button" class="btn btn-default btn-sm" style="float: right">
        <span class="glyphicon glyphicon-envelope"></span>
        </button>
       <button id="removeProtocolButton" type="button" class="btn btn-default btn-sm removeProtocolButton" style="float: right">
           Remove
       </button>
    </div>

    <%} else {%>
     <div class="btn-group btn-group-xs">
         <button id='send-button' type="button" class="btn btn-default btn-sm" style="float: right">
        <span class="glyphicon glyphicon-envelope"></span>
        </button>
    <button id='copybutton' type="button" class="btn btn-default btn-sm" style="float: right">
        <img src="../images/copy-icon.png" style="width: 20px; height: 20px;" title="Copy">
    </button>
         </div>
    <% } %>
</div>
