
<div style="text-align: center; border-style:solid; border-color: green;  width:auto;" class = "protocolNode">
    <span>
        <strong>
            STANDARD
        </strong>
        <p>
           <%=standard%>
        </p>
    </span>

    <span>
        <strong>
            RECOMMENDATION
        </strong>
        <p>
           <%=recommendation%>
        </p>
    </span>

    <span>
        <strong>
            OPTION
        </strong>
        <p>
            <%=option%>
        </p>
    </span>

    <br>
<button class = "removeProtocolButton">Remove</button>
</div>
