<div id="renamepathwaymodal" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="modal-wizard-container">
                <div class="modal-header">
                    <h4 class="modal-title">Enter New Pathway Name</h4>
                </div>

                <div class="modal-body">
                    <form class="bootbox-form"><input id="newName"
                                                      class="bootbox-input bootbox-input-text form-control" type="text">
                    </form>

                </div>
            </div>

            <div class="modal-footer wizard-actions">
                <button class="btn btn-primary btn-sm" id="rename-button">Rename</button>

                <button class="btn btn-grey btn-sm pull-left" data-dismiss="modal">
                    <i class="ace-icon fa fa-times"></i>
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div><!-- PAGE CONTENT ENDS -->

