<div id="detail-modal" class="modal fade" role="dialog" aria-hidden="true" style="z-index: 1030">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title"><%if (isHead){%>Pathway  Triggers <%}else{%>Node Implications<%}%> </h4>
            </div>

            <div class="modal-body">

                <div style="clear:both" class="detail-sections">
                    <div style="text-align: center;">
                        <%if (isHead){%>
                            All of the Following Groups of Requirements Must be Fulfilled in Order to Show the Pathway
                        <%}else{%>
                            Clicking on the selected node implies the following
                        <%}%>
                    </div>
                </div>

                <br>

                <div style="margin-left: 15%; margin-right:15%; max-width: 60%" id="disjoinedGroups">
                </div>


                <br>

                <div class="btn-toolbar ">

                 <div class='detailButton btn btn-light btn-sm'
                         id="all_dx"
                         title="Specify a
                         <%if (isHead){%>
                            constraint based on a diagnosis in the patient’s problem list

                         <%}else{%>
                            diagnosis implied by a click on this node


                         <%}%>">
                     <%
                     if (isHead){

                     %> All Diagnoses <%
                     } else {
                     %> Diagnosis Implication <%
                     }
                     %>


                 </div>

                <% if (isHead){%>
                    <div class='detailButton  btn btn-light btn-sm'
                         id='enc_dx'
                         title="Specify a constraint based on any diagnosis currently associated with the encounter such as chief complaints, differential diagnoses, or symptoms that have been discretely documented and transmitted to Maven."
                            >
                        Encounter Diagnosis
                    </div>

                    <div class='detailButton btn  btn-light btn-sm'
                         id="hist_dx"
                         title="Specify a constraint based on a diagnosis in the patient’s diagnostic history"
                            >
                        Historic Diagnosis
                    </div>
                    <div class='detailButton btn  btn-light btn-sm'
                         id="pl_dx"
                         title="Specify a constraint based on a diagnosis in the patient’s problem list"
                            >
                        Problem List Diagnosis
                    </div>

                    <div class='detailButton btn btn-light btn-sm'
                         id="hist_proc"
                         title="Specify a constraint based on the patient's procedure history"
                            >
                        Historical Procedure
                    </div>
                     <div class='detailButton btn btn-light btn-sm'
                         id="cur_med"
                         title="Specify a constraint based on the patient's currently prescribed medications"
                            >
                        Current Medication
                    </div>

                    <div class='detailButton btn  btn-light btn-sm'
                         id="membership"
                         title="Specify a constraint based on the receiving clinicians group memberships"
                            >
                        Clinician Groups
                    </div>
                     <%}%>
                </div>
                <br>
               <%if (isHead){%> <button id="add-group-button" class="btn  btn-light btn-sm">Add Group</button> <%}%>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>