
                <h4 class="modal-title">Detail Creation Wizard</h4>

                <div style="text-align: center;">Show this pathway if the patient has: </div>
                <div style = "clear:both" id ="disjoinedGroups">




                </div>



                <br>
                <div style = "float:left">
                        <button class = 'createButton btn-default btn'
                                id = 'enc_dx'
                                title ="Specify a constraint based on any diagnosis currently associated with the encounter such as chief complaints, differential diagnoses, or symptoms that have been discretely documented and transmitted to Maven."
                                >
                           Encounter Diagnosis
                        </button>
                </div>

                <div style = "float:left">
                        <button class = 'createButton btn-default btn'
                                id = "hist_dx"
                                title ="Specify a constraint based on a diagnosis in the patient’s diagnostic history"
                                >
                           Historic Diagnosis
                        </button>
                </div>
                   <button id = "add-group-button" class="btn btn-default" data-dismiss="modal">Add Group</button>