
                <div class="btn-group-lg btn-group">

                        <div class="btn-group">
                          <button  class="btn btn-lg btn-default path dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                            Pathways
                            <span class="caret"></span>
                          </button>
                            <ul id = "avail-paths" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <!--the dropdown rules will render here -->
                            </ul>
                        </div>

                        <button type="button" class="btn btn-default btn-lg path"  id="newpath-button">
                                 <span data-toggle="tooltip" title="New Pathway">
                                <img src="../images/temp/newPath.jpg" style="width: 30px; height: 25px">New Pathway</span>
                            </button>
                            <button type="button" class="btn btn-default btn-lg path"  id="save-button">
                                <span data-toggle="tooltip" title="Save Pathway">
                                <img src="../images/temp/savePath.jpg" style="width: 30px; height: 25px">Save Pathway</span>
                            </button>


                </div>
