<div class=row>
    <div class="col-xs-12 btn-group ">

        <div class="btn-group toolbar-button">
            <button class="toolbar-button btn btn-default path dropdown-toggle" type="button" id="dropdownMenu1"
                    data-toggle="dropdown">
                Pathways
                <span class="caret"></span>
            </button>
            <div id="avail-paths" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1"
                style="max-width: 500px">
                <!--the dropdown rules will render here -->
                <div style="font-size: 150%;">
                    <a id="paths-list-add-directory">
                        <span class="glyphicon glyphicon-plus"></span>New Folder
                    </a>
                </div>
                <div id="add-directory-form" class="input-group input-group-sm control-group" style="display:none;">
                    <input type="text" class="form-control" id="new-directory-text">
                </div>
                <div id="avail-paths-dropdown">

                </div>
            </div>
        </div>

        <button type="button" class="toolbar-button btn btn-default  path " id="newpath-button">
                                 <span data-toggle="tooltip" title="New Pathway">
                                <img src="../images/temp/newPath.jpg"
                                     style="width: 30px; height: 25px">New Pathway</span>
        </button>
        <button type="button" class="toolbar-button  btn btn-default  path" id="save-button">
            <span data-toggle="tooltip" title="Save Pathway">
                <img src="../images/temp/savePath.jpg" style="width: 30px; height: 25px">Save Pathway</span>
        </button>


        <span id="importpath-button" class=" toolbar-button btn btn-default btn-file path" data-toggle="tooltip" title="Import Pathway">
    <img src="../images/temp/newPath.jpg" style="width: 30px; height: 25px">Import Pathway<form><input type="file" accept='.pathway'></form>
    </span>

        <!--[if gte IE 10]><!-->
        <button type="button" class="toolbar-button btn btn-default  btn-file path " id="exportpath-button">
            <span data-toggle="tooltip" title="Export Pathway">
                <img src="../images/temp/newPath.jpg" style="width: 30px; height: 25px">Export Pathway</span>
        </button>
        <!--<![endif]-->

        <button type="button" class="toolbar-button btn btn-default" id="trigger-button"><img
                src="../images/temp/trigger.jpg" title="Add Trigger" style="width: 25px; height: 25px">Edit Triggers
        </button>

        <div style="float: left" class="btn-group" style=" height:100%" id="node-action-set">
            <!-- node specific buttons which change based on selected node go here -->

        </div>

    </div>


</div>
