<div class="dropdown" style="float: left">
  <button style="height:90%; top: 5%" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Pathways
    <span class="caret"></span>
  </button>
    <ul id = "avail-paths" class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <!--the dropdown rules will render here -->
    </ul>
</div>

                <button type="button" class="btn btn-default btn-sm path" style="float:left" id="newpath-button">
                     <span data-toggle="tooltip" title="New Pathway">
                    <img src="../images/temp/newPath.jpg" style="width: 30px; height: 25px">New Pathway</span>
                </button>
                <button type="button" class="btn btn-default btn-sm path" style="float:left" id="save-button">
                    <span data-toggle="tooltip" title="Save Pathway">
                    <img src="../images/temp/savePath.jpg" style="width: 30px; height: 25px">Save Pathway</span>
                </button>
