<nav class="navbar navbar-default main-header" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="navbar-brand"><span class="brand"><b>maven</b></span>
	<span class="page-title" onclick="location.href='#'">
	  Pathways
	</span>
     </div>
   </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="glyphicon glyphicon-user"></i>
            <span class="dr"></span><b class="caret"></b></a>
          <ul class="dropdown-menu" style='z-index:1035'>
            <li><a id="profile_button">My Profile</a></li>
              <li><a id="settings_button">Settings</a></li>
            <li class="divider"></li>
            <li><a onclick="location.href='#logout'">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
