<p class = 'attn-text-small'>Currently Editing: <%=name%></p>

<div style="clear: both; padding-bottom: 20px; text-align: center">
    <button style="padding-right: 10px" id="setNodeTitleButton">Edit Node's Title</button>
</div>
<div style="clear: both; padding-bottom: 20px; text-align:center">
    <button style="padding-right: 10px;" id="setNodeDescriptionButton">Edit Node's Tooltip</button>
</div>

<div style="clear: both; padding-bottom: 50px; text-align:center">
    <button style="padding-right: 10px;" id="editSidePanelButton">Edit Side Panel Text</button>
</div>
<div style="clear: both; padding-bottom: 50px; text-align:center">
    <button style="padding-right: 10px;" id="deleteNodeButton">Delete Selected Node</button>
</div>


<%=sidePanelText%>


