<div class="widget-column col-sm-12">
    <!--<div style="width:40px; float:left;"></div> <!-- spacing horizontal -->
    <li style="float:left; width: auto">
        <div  title="<%=node.tooltip%>" clickID = "TN-<%=pathid%>-<%=node.nodeID%>" <%if (node.hideChildren=="true"){%> style = "background-color: lightyellow" <%}%> class="treeNode click-tracked">
            <span data-toggle="tooltip" > <%=node.name%></span>

            <br>
            <% if (page == 'pathEditor'){ %>

            <div style ="clear:both" class="btn-group btn-group-sm" role="toolbar">
                    <% if (node.hasLeft ) { %>
                        <button class = "btn btn-default" id = "moveLeftButton">&lt;</button>
                    <%}%>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default" id="addChildButton"><img src="../images/temp/newChild.jpg" style="width: 25px; height: 25px"></button>
                    <% if (node.children.length == 0){%>
                    <button type="button" class="btn btn-default addProtocolButton"><img src="../images/temp/newProtocole.jpg" style="width: 25px; height: 25px"></button>
                    <%}%>
                </div>
                <% if ("nodeType == standard" && (node.children.length > 0||node.protocol ))  {%>
                <div class="btn-group btn-group-sm">
                    <button type="button" class="btn btn-default collapseButton">
                            <% if (node.hideChildren=="true"){%>
                            <img src="../images/temp/expand.jpg" style="width: 25px; height: 25px">
                            <%}else{%>
                            <img src="../images/temp/collapse.jpg" style="width: 25px; height: 25px">
                        <%}%>
                    </button>
                </div>
                <% } %>

                <%if (node.hasRight) { %>
                <button class = "btn btn-default" id = "moveRightButton">&gt;</button>
                 <%}%>


            </div>
             <%}%>
             <div style = "clear: both"></div>
        </div>
        <!--<div style="clear: both; height:100px; width:10px;"></div> <!-- spacing, Vertical-->
        <ul class='children2'>
                    <div style='padding-top: 25px; ' class='protocol'></div>


        </ul>

    </li>
</div>
