<div class = "widget-column col-sm-12">
<p class = 'attn-text-small'>Currently Editing: <%=name%></p>

<div style="clear: both; padding-bottom: 20px; text-align: center"><button style="padding-right: 10px" id="setNodeTitleButton">Change Selected Node's Title</button></div>
<div style="clear: both; padding-bottom: 20px; text-align:center"><button style="padding-right: 10px;" id="setNodeDescriptionButton">Change Selected Node's Description</button></div>

<div style="clear: both; padding-bottom: 50px; text-align:center"><button style="padding-right: 10px;" id="deleteNodeButton">Delete Selected Node</button></div></div>
