<div class = "widget-column col-sm-12">
<!--<div style="width:40px; float:left;"></div> <!-- spacing horizontal -->
<li style="float:left; width: auto">
    <div style="text-align: center; border-style:solid;  width:auto;" class="treeNode"><%=text%>
        <br>
        <button class = 'btn btn-default ' id="addChildButton">Add Child</button>
        <br>
        <% if (children.length == 0){%>
             <button class="btn btn-default addProtocolButton">Add a Protocol</button>
        <%} else {%>
        <button class="btn btn-default  collapseButton"><% if (hideChildren=="true"){%>Show Children<%}else{%>Collapse<%}%> </button>
        <%}%>
        </div>
        <!--<div style="clear: both; height:100px; width:10px;"></div> <!-- spacing, Vertical-->
        <ul class='children2'>



        </ul>

      <div  style= 'padding-top: 25px; ' class='protocol'></div>
</li></div>
