<ul>
    <li>
        <div style="text-align: center; border-style:solid;  width:auto;" class="treeNode expanded-path">
            <span data-toggle="tooltip" title="<%=triggerNode.tooltip%>"><%=triggerNode.name%></span>
            <% if (page == 'pathEditor') { %>
            <div class="triggerView">triggers will go here</div>
            <%}%>
            <div class="btn-toolbar" role="toolbar">
            <% if (page == 'pathEditor') { %>
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-default" id="addTriggerButton"><img src="../images/temp/trigger.jpg" title="Add Trigger" style="width: 25px; height: 25px"></button>
                    <button type="button" class="btn btn-default" id="addChildButton"><img src="../images/temp/newChild.jpg" style="width: 25px; height: 25px"></button>
                    <% if (triggerNode.children.length == 0){%>
                    <button class="btn btn-default  addProtocolButton"><img src="../images/temp/newProtocole.jpg" style="width: 25px; height: 25px"></button>
                    <%}%>
                </div>
            <%}%>

            <% if (page == 'pathEditor' && (triggerNode.children.length > 0||triggerNode.protocol) ) {%>
                <div class="btn-group btn-group-xs">
                    <button type="button" class="btn btn-default collapseButton">
                     <% if (page == 'pathEditor') { %>
                        <% if (triggerNode.hideChildren=="true"){%>
                        <img src="../images/temp/expand.jpg" style="width: 25px; height: 25px">
                        <%}else{%>
                        <img src="../images/temp/collapse.jpg" style="width: 25px; height: 25px">
                        <%}%>
                     <%}%>
                    </button>
                </div>
            <% } %>
            </div>


        </div>

        <!--<div style="clear: both; height:100px; width:10px;"></div>-->
        <ul style="clear: both; width: 100%; text-align: center" class='children2'>


                    <div style='padding-top: 25px; ' class='protocol'></div>

        </ul>

        </div>
    </li>
</ul>
