<div style="position:relative; min-width:300px;min-height:500px;>
    <h1 style="text-align: center"> Add or Remove Triggers </h1>


    <div>
        <div style = "float:left">
            <div style="clear:both; text-align:center">Select Triggers from This List</div>
            <div style = "clear:both" class="available-triggers trigger-list">The Available Triggers go Here</div>

        </div>
        <div style = "float:left; height:1px; width:15px"></div>
        <div style = "float:left;">
            <div style = "clear:both; height:170px">.</div>
            <button style = "vertical-align: middle; clear:both; width:70px"id="addTriggerButton">Add</button>
            <br>
            <button style = "vertical-align: middle; clear:both "id="removeTriggerButton">Remove</button>

        </div>
        <div style = "float:left; height:1px; width:15px;"></div>
        <div style = "float:left">
             <div style="clear:both; text-align:center">Loaded Triggers</div>
             <div class="selected-triggers trigger-list">Currently Loaded Triggers go here</div></div>
        </div>
    <div style=" clear:both; height:15px"></div>

</div>