<div style="position:relative; width:1400px; height:800px;">
    <div>
        <div style = "text-align: center; width:45%; float:left">
            <h3 style="clear:both; text-align:center">Select Triggers from This List</h3>

            <div class = "route-list"></div>
                    <div class="col-lg-6" style="width:100%">
                     <div class="input-group">
                        <input  class = "form-control" id="triggerSearch">
                           <span class="input-group-btn">
                                <button class="btn btn-default" id="searchTriggers">Search Triggers</button><
                            </span>
                        </div>
                    </div>

            <div style = "clear:both; height: 400px; font-size:150%; width:100%" class="available-triggers trigger-list">The Available Triggers go Here</div>
            <button class="btn btn-default" id="zoom-out-button">Zoom out on Concept</button><button class="btn btn-default" id="zoom-in-button">Zoom in on Concept</button>


            </div>
        <div style = "float:left;text-align: center; width:10%">
            <div style = "clear:both; height:170px"></div>
            <button class="btn btn-default" style = "clear:both" id="addTriggerButton">Add</button>
            <br>
            <button  class="btn btn-default" style = "clear:both "id="removeTriggerButton">Remove</button>

        </div>
        <div style = "float:left; width:45%; height:auto">
             <h3 style="clear:both; text-align:center">Loaded Triggers</h3>
             <br>
             <br>

             <div style="height: 400px; font-size:150%; width:100%" class="selected-triggers trigger-list ">Currently Loaded Triggers go here</div></div>

        </div>
    <div style=" clear:both; height:15px"></div>

</div>