[Unit]
Description=Maven Web Services
After=rabbitmq-server.target
Requires=rabbitmq-server.target

[Service]
Type=oneshot
ExecStart=/home/devel/maven/run_maven.sh
ExecStop=/usr/bin/kill `/usr/bin/ps -aef | /usr/bin/grep /home/devel/maven | /usr/bin/grep env/bin/python | /usr/bin/awk '{print $2}'`
RemainAfterExit=yes
User=devel

[Install]
WantedBy=multi-user.target
