<div class="col-sm-8 content">
    <div class="container">
        <div class="row" id="utilization">
            <h2 class="headings">Summary of current encounter</h2>

            <div class="container row enc-date">
                <span>Today</span>
                <a href="#">View time range <i class="glyphicon glyphicon-calendar"></i></a>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="utilization"></div>
                </div>
                <div class="col-sm-4">
                    <div class="saving"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <hr>
            </div>
        </div>

        <div class="orderable"></div>

        <div class="row">
            <div class="col-md-8">
                <hr>
            </div>
        </div>
        <div class="costbd"></div>

        <div class="row">
            <div class="col-md-8">
                <hr>
            </div>
        </div>
        <div class="row" id="list-cost-bd">
            <div class="col-sm-8">
                <span class="headings title">Orders Cost Break down</span>

            </div>
        </div>

    </div>
</div>
<div class="col-sm-3 side">
    <div class="container">
        <div class="alertlist"></div>

    </div>
</div>