class Element():
    def __init__(self, extension=None, modifierExtension=None):
        self.extension = extension
        self.modifierExtension = modifierExtension


class Section():

    def __init__(self, title=None, code=None, subject=None, content=None):
        self.title = title
        self.code = code
        self.subject = subject
        self.content = content


