@import url('../css/bootstrap/css/bootstrap.min.css');

/* sadly css variables aren't supported by much of anything, so we'll do this with copy and paste.
 * Here is a list of all of the values which can be modified
 * The places where each is used includes a comment with the variable name after it 
 * This allows changing exactly the right things using search and replace (almost)
    var-fixed-top-size
    var-fixed-bottom-size
    var-fixed-left-size
    var-fixed-right-size
    var-floating-top-size
    var-floating-bottom-size
    var-floating-left-size
    var-floating-right-size
 */

.chart-col-6 {
    width: 100%;
    height: 350px;
}

.chart-col-12 {
    width: 100%;
    height: 400px;
}

html, body {
    padding: 0px;
    margin: 0px;
}

#fixed-top {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    /*height: 130px; /*var-fixed-top-size*/
    background: #ffffff;
}

.pat-info {
    height: 50px;
    display: table;
}

#fixed-bottom {
    display: none;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 10;
    height: 0px; /*var-fixed-bottom-size*/
}

#fixed-left {
    display: none;
    position: fixed;
    width: 20%; /*var-fixed-left-size*/
    top: 130px; /*var-fixed-top-size*/
    bottom: 0px; /*var-fixed-bottom-size*/
    left: 0px;
}

#fixed-right {
    position: fixed;
    visibility: hidden;
    width: 20%; /*var-fixed-right-size*/
    top: 130px; /*var-fixed-top-size*/
    bottom: 0px; /*var-fixed-bottom-size*/
    right: 0px;
}

#wrapper {
    position: relative;
    min-width: 70%; /*100% minus var-fixed-left-size minus var-fixed-right-size */;
    bottom: 0px;
    z-index: 1;
    margin-top: 130px; /*var-fixed-top-size*/
}

#floating-top {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    display: none;
    height: 0px; /*var-floating-top-size*/
    z-index: 2;
}

#floating-bottom {
    display: none;
    position: relative;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 30px; /*var-floating-bottom-size*/
    margin-bottom: 0px; /*var-fixed-bottom-size*/
    z-index: 2;
}

#floating-left {
    position: relative;
    visibility: hidden;
    width: 0px; /*var-floating-left-size*/
    float: left;
}

#floating-right {
    position: relative;
    float: right;
    width: 30%; /*var-floating-right-size*/
    padding-left: 5px;
}

#content {
    display: none;
    overflow: hidden;
    position: relative;
    margin-left: 0px; /*var-float-left-size*/
    width: 70%; /*100 minus var-float-left-size minus var-floating-right-size*/
}

.mavenpadding {
    padding: 10px;
    clear: both;
}

/***************************************************************
 * The following customize the Login widget *
 ***************************************************************/

#login{
    margin: 50px auto;
	width: 400px;
}

#login h3 {
	background-color: #46bdec;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
	color: #fff;
	font-size: 28px;
	padding: 20px 26px;
    margin-top: -20px;
    margin-right: -20px;
    margin-left: -20px;
    margin-bottom: 20px;
}

#login h3 span[class*="glyphicon"] {
	margin-right: 14px;
}

#login div {
	background-color: #fff;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
}

#login div p {
	color: #777;
	margin-bottom: 14px;
}

#login div input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 10px;
background-color: #eee;
	color: #777;
	padding: 4px 10px;
	width: 328px;
}

#login button {
	background-color: #46bdec;
	color: #fff;
	margin: 0 auto;
	padding: 4px 0;
	width: 100px;
    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 15px;
}

#login button:hover {
	background-color: #465766;
}

#login-buttons{
    margin-bottom: 20px;
}



/***************************************************************
 * The following customize the fonts and colors of the widgets *
 ***************************************************************/

.full-height {
    height: 100%;
}

.alert-type {
    text-align: center;
    font-size: 20px;
}

body {
    height: 100%;
    margin-top: 50px;
    background-color: #fff6f6;
}

.main-header {
    color: #f6a828;
    background-color: #46bdec;

}

.brand {
    color: #ffffff;
    font-size: 30px;

}

.page-title {
    margin-left: 8px;
    color: #ffffff;
    font-size: 20px;
}

.dr {
    color: #ffffff;
}

.navbar-lower {
    top: 50px;
    width: 100%;
    background-color: #dff5fd;
}

.navbar-nav {
    color: #ffffff;
}

.pat-nav {
    height: 100%;

}

.divide-text {
    color: #fff;
    line-height: 20px;
    font-size: 20px;
    padding: 15px 0;
}

.pat-title {
    color: #46bdec;
    font-size: 10px;
    padding-bottom: 3px;
    padding-top: 3px;
}

.pat-sub {
    color: #46bdec;
    font-size: 10px;
    padding-bottom: 3px;
    padding-top: 5px;
}

#pat-name {
    font-size: 18px;
}

.col-sm-3 {
    margin-left: 5px;
}

.col-sm-2 {
    margin-left: 5px;
}

.col-sm-1 {
    margin-left: 5px;
}

.divider {
    border-right: 1px solid #46bdec;
}

.content {
    margin-top: 8px;
    background-color: #ffffff;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
    color: #465766;
}

.side {
    margin-left: -2px;
    margin-top: 8px;
    min-height: 100%;
    background-color: #fffafa;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
}

.headings {
    font-family: 'Maven Pro', sans-serif;
}

.enc-date {
    font-size: 15px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.enc-date a {
    font-size: 10px;
}

.title {
    font-size: 20px;
}

.cost-num {
    font-size: 20px;
    font-weight: bold;
}

.badge {
    float: right;
    color: #465766;
    background-color: transparent;
}

.panel-default > .panel-heading {
    color: #465766;
    background-color: #f0f0f0;
}

.alerts {
    color: #46bdec;
    text-align: center;
    margin-bottom: 15px;
}

.impact {
    font-weight: bold;
}

.alert-type {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.alert-type img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    text-align: center;
}

.chart-div {
    margin-top: -60px;
    width: 100%;
    height: 350px;

}

#order-table div div{
    margin-bottom: 3px;
}

.modal-body {
    background-color: #fff6f6;
}

.search-box {
    display: table-cell;
    vertical-align: middle;
    horizontal-align: middle;
    margin: auto;
}

.alert-list-panel {
    background-color: #c0c0c0;
}

.color-procedure {
    color: #3598dc;
}

.bgcolor-procedure {
    background-color: #3598dc;
}

.color-lab-work {
    color: #eb4b3b;
}

.bgcolor-lab-work {
    background-color: #eb4b3b;
}

.color-consultation {
    color: #18bc9a;
}

.bgcolor-consultation {
    background-color: #18bc9a;
}

.color-imaging {
    color: #36485c;
}

.bgcolor-imaging {
    background-color: #36485c;
}

.color-medication {
    color: #9155ad;
}

.bgcolor-medication {
    background-color: #9155ad;
}

.color-other {
    color: #f2c313;
}

.bgcolor-other {
    background-color: #f2c313;
}


/***************************************************************
 * The following customize the colors of the Date picker events *
 ***************************************************************/

.admission{
    background-color: #18bc9a;
    font-weight: bold;
}

.discharge{
    background-color: #eb4b3b;
    font-weight: bold;

}

#datepicker{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    outline: none;
    border: transparent;
    font-weight: bold;
    margin-top: 10px;
}

/***************************************************************
 * The following adjust the contents on smaller devices *
 ***************************************************************/

@media (max-width: 768px) {
    #wrapper {
        margin-top: 350px; /*var-fixed-top-size*/
    }

    #wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -moz-box-align: start;
        -ms-flex-align: start;
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    #wrapper #floating-right {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        -webkit-order: 1;
        order: 1;
    }

    #content {
        display: block;
        width: 100%;
    }

    #floating-right {
        display: block;
        width: 100%;
    }

    .divider {
        border-right: none;
    }

    .chart-div {
        margin-top: -60px;
        width: 100%;
        height: 350px;
    }
}




