@import url('../css/bootstrap/css/bootstrap.min.css');

/* sadly css variables aren't supported by much of anything, so we'll do this with copy and paste.
 * Here is a list of all of the values which can be modified
 * The places where each is used includes a comment with the variable name after it 
 * This allows changing exactly the right things using search and replace (almost)
    var-fixed-top-size
    var-fixed-bottom-size
    var-fixed-left-size
    var-fixed-right-size
    var-floating-top-size
    var-floating-bottom-size
    var-floating-left-size
    var-floating-right-size
 */

html, body {
    padding:0px;
    margin:0px;
}

#fixed-top {
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index:10;
    height: 130px; /*var-fixed-top-size*/
    background: #ffffff;
}

#fixed-bottom {
    display: none;
    position:fixed;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:10;
    height: 0px; /*var-fixed-bottom-size*/
}

#fixed-left {
    display:none;
    position:fixed;
    width: 0%; /*var-fixed-left-size*/
    top:130px; /*var-fixed-top-size*/
    bottom: 0px; /*var-fixed-bottom-size*/
    left:0px;
}

#fixed-right {
    position:fixed;
    visibility:hidden;
    width:15%; /*var-fixed-right-size*/
    top: 130px;  /*var-fixed-top-size*/
    bottom: 0px; /*var-fixed-bottom-size*/
    right:0px;
}

#wrapper {
    position:relative;
    left:0%; /*var-fixed-left-size*/
    width:85%;/*100% minus var-fixed-left-size minus var-fixed-right-size */;
    bottom:0px;
    z-index:1;
    margin-top: 130px; /*var-fixed-top-size*/
}

#floating-top {
    position:relative;
    top:0px;
    left:0px;
    right:0px;
    display:none;
    height:0px; /*var-floating-top-size*/
    z-index:2;
}

#floating-bottom {
    display:none;
    position:relative;
    bottom:0px;
    left:0px;
    right:0px;
    height:30px; /*var-floating-bottom-size*/
    margin-bottom: 0px; /*var-fixed-bottom-size*/
    z-index:2;
}

#floating-left {
    position:relative;
    visibility:hidden;
    width:15%; /*var-floating-left-size*/
    float: left;
}

#floating-right {
    position:relative;
    float:right;
    width:25%; /*var-floating-right-size*/
}

#content {
    overflow:hidden;
    position:relative;
    margin-left:15%; /*var-float-left-size*/
    width:60%; /*100 minus var-float-left-size minus var-float-right-size*/
}

.mavenpadding {
    padding:10px;
    clear:both;
}