<!-- row -->
<div class="row">
    <div class="col-sm-12">
        <div class="search">
 search
        </div>
    </div>
</div>
<!-- /row -->
<!-- row -->
<div class="row">
    <div class="col-sm-12">
        <div class="patientlist">

        </div>
    </div>
</div>
<!-- /row -->
<!-- Charts -->
<div class="row">
    <!-- main col left -->
    <div class="col-sm-6">
        <div class="spending"></div>
    </div>
    <!-- main col right -->
    <div class="col-sm-6">
        <div class="costbd"></div>
    </div>
</div>
<!--/row-->
