<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="panel-title">
            <% if(page == 'episode') { %>
            Encounter Cost Breakdown
            <% } else { %>
            Cost Breakdown
            <% } %>
        </h3>

        <div id="cost-bd" class="chart-col-6"></div>
    </div>
</div>

<script>
    var colorArray = ["#0188BB", "#4C2694", "#79B32D", "#FF8500", "#00587A" ]
    //Palette URL: http://colorschemedesigner.com/#3q62mWSE5w0w0

    var chart = AmCharts.makeChart("cost-bd", {
        "type": "pie",
        "colors": colorArray,

        "dataProvider": [
            {
                "order": "ECG",
                "cost": "1200"
            },
            {
                "order": "CBC",
                "cost": "38"
            },
            {
                "order": "CRP",
                "cost": "47"
            }
        ],
        "titleField": "order",
        "valueField": "cost",
        "labelRadius": 5,

        "radius": "30%",
        "innerRadius": "60%",
        "labelText": "[[title]]: $[[value]]"
        //"balloonText": "Expenses in [[title]]:<b>$[[value]]</b>"
    });


</script>