<div class="panel panel-default">
    <div class="panel-body">
        <h3 class="panel-title">
	  <%= display %>'s Total Spends for <span class="blue">Suzy Smith</span>
        </h3>

        <div id="total-spend" class="chart-col-6"></div>
    </div>
</div>

<script>
    var colorArray = ["#0188BB", "#4C2694", "#79B32D", "#FF8500", "#00587A" ]
    //Palette URL: http://colorschemedesigner.com/#3q62mWSE5w0w0

    /*****************************************

     Temporary code
     ****************************************/
    var category = new Array("Medication", "Labs", "Procedures", "RJS Nursing", "Immunization/Injection");

    var encs_cost = [];

    var firstDate = new Date();
    firstDate.setDate(firstDate.getDate() - 30);
    firstDate.setHours(0, 0, 0, 0);

    var days = 30;

    for (var i = 0; i < days; i++) {
        var newDate = new Date(firstDate);
        newDate.setDate(newDate.getDate() + i);

        encs_cost.push({
            date: newDate,
            encounter_cost: Math.floor((Math.random() * 100) + 1)
        });
    }

    console.log('chart');
    console.log(encs_cost);

    var chart = AmCharts.makeChart("total-spend", {
        "type": "serial",
        "dataDateFormat": "YYYY-MM-DD",
        "colors": colorArray,
        "pathToImages": "js/amcharts/images/",
        "dataProvider": encs_cost,
        "valueAxes": [
            {
                "axisAlpha": 1,
                "dashLength": 1,
                "position": "left"
            }
        ],
        "graphs": [
            {
                "id": "g1",
                "balloonText": "[[category]]<br /><b><span style='font-size:14px;'>$[[value]]</span></b>",
                //"bullet": "round",
                //"bulletBorderAlpha": 1,
                //"bulletColor":"#FFFFFF",
                //"hideBulletsCount": 30,
                // "title": "red line",
                "valueField": 'encounter_cost',
                //"useLineColorForBulletBorder":true,
                "fillAlphas": .8,
                "fillColorsField": "fill",
                "inside": true,
                "type": "column"
            }
        ],
        "chartScrollbar": {
            "autoGridCount": true,
            "graph": "g1",
            "scrollbarHeight": 40
        },

        "chartCursor": {
            "cursorPosition": "mouse",
            "cursorColor": colorArray[3]
        },
        "categoryField": 'date',
        "categoryAxis": {
            "parseDates": true,
            "axisColor": "#DADADA",
            "dashLength": 1,
            "minorGridEnabled": true
        }

    });

</script>
