<!-- row -->
<div class="row">
<div class="col-sm-12">
<div class="panel panel-default">

<div class="panel-body">
<div class="row">
    <h3 class="panel-title">
        Dr.Huxtable's Alerts
    </h3>

    <form class="navbar-form navbar-right">
        <span> Sort by: </span>

        <div class="form-group">
            <select class="form-control pull-right">
                <option value="patient">
                    Recent Patients
                </option>
                <option value="medication">
                    Alert Name
                </option>
            </select>
        </div>
    </form>
</div>
<!-- Alerts Content -->
<div class="container">
<div class="row">
<div class="col-sm-11">
<!-- panel -->
<!-- row -->
<!--<div class="row">
    <div class="col-sm-12">
        <div class="patient-list"></div>
    </div>
</div> -->
<!-- /row -->
<!-- Charts -->
<div class="row">
    <!-- main col -->
    <div class="col-sm-12">
        <div class="alertlist"></div>
    </div>
</div>
<!--/row-->
