<!-- row-->
<div class="row">
    <!-- main col left -->
    <div class="col-sm-6">
        <div class="utilization"></div>
    </div>
    <!-- main col right -->
    <div class="col-sm-6">
        <div class="saving"></div>
    </div>
</div>
<!-- /row -->
<!-- row -->
<div class="row">
    <div class="col-sm-6">
        <div class="spending"></div>
    </div>

    <div class="col-sm-6">
        <div class="costbd"></div>
    </div>
</div>
<!-- /row -->
<!-- row-->
<div class="row">
    <!-- main col right -->
    <div class="col-sm-12">
        <div class="alert"></div>
    </div>
</div>
<!-- /row -->