<!-- sidebar -->
<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li>
            <a href="#" data-toggle="offcanvas" class="visible-xs text-center"><i
                    class="glyphicon glyphicon-chevron-right"></i></a>
        </li>
    </ul>
    <ul class="nav hidden-xs" id="lg-menu">
        <li>
            <a href="#"><i class="glyphicon glyphicon-home"><span> Home</span></i></a>
        </li>
        <li>
            <a href="#/alerts"><i class="glyphicon glyphicon-flag"><span> Alerts</span></i></a>
        </li>
        <ul class="nav hidden-xs" id="dynamic_menu">
        </ul>
    </ul>
    <!-- tiny only nav-->
    <ul class="nav visible-xs" id="xs-menu">
        <li>
            <a href="#" class="text-center"><i class="glyphicon glyphicon-home"></i></a>
        </li>
        <li>
            <a href="#/alerts" class="text-center"><i class="glyphicon glyphicon-flag"></i></a>
        </li>
        <ul class="nav visible-xs" id="dynamic_menu_xs">
            <li>
                <a href="#/episode" class="text-center"><i class="glyphicon glyphicon-time"></i></a>
            </li>
        </ul>
    </ul>
</div>
<!-- /sidebar -->