<!-- sidebar -->
<div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
    <form role="form" class="form-horizontal">

        <!-- Multiple Checkboxes -->
        <div class="control-group">
            <label class="control-label" for="checkboxes"><span class="blue">Department </span></label>

            <div class="controls">
                <label class="checkbox" for="checkboxes-0">
                    <input name="checkboxes" id="checkboxes-0" value="Option one" type="checkbox" style="margin-left: -10px"> All Departments
                </label>
                <label class="checkbox" for="checkboxes-0">
                    <input name="checkboxes" id="checkboxes-0" value="Option one" type="checkbox" style="margin-left: -2px"> Pediatrics
                </label>
                <label class="checkbox" for="checkboxes-1"> 
                    <input name="checkboxes" id="checkboxes-1" value="Option two" type="checkbox" style="margin-left: -2px"> Medicine
                </label>
            </div>
        </div>

         <div class="control-group">
            <label class="control-label" for="checkboxes"><span class="blue">Date Range</span></label>
            <div class="controls">
                    <input type="date" name="date1" size="10" placeholder="mm/dd/yyyy"> to
                    <input type="date" name="date2" size="10" placeholder="mm/dd/yyyy">
            </div>
        </div>

         <div class="control-group">
            <label class="control-label" for="checkboxes"><span class="blue">Utilization</span></label>

            <div class="controls">
               $ <input type="number" name="cost1" size="6" placeholder=""> to
                $ <input type="number" name="cost2" size="6" placeholder="">
            </div>
        </div>

        <!-- Multiple Checkboxes -->
        <div class="control-group">
            <label class="control-label" for="checkboxes"><span class="blue">Diagnosis</span></label>

            <div class="controls">
                <label class="checkbox" for="checkboxes-0">
                    <input name="checkboxes" id="checkboxes-0" value="Option one" type="checkbox">
                    Sinusitis
                </label>
                <label class="checkbox" for="checkboxes-1">
                    <input name="checkboxes" id="checkboxes-1" value="Option two" type="checkbox">
                    Asthma
                </label>
            </div>
        </div>

        <!-- Multiple Checkboxes -->
        <div class="control-group">
            <label class="control-label" for="checkboxes"><span class="blue">Orders</span></label>

            <div class="controls">
                <label class="checkbox" for="checkboxes-0">
                    <input name="checkboxes" id="checkboxes-0" value="Option one" type="checkbox">
                    Medication
                </label>
                <label class="checkbox" for="checkboxes-1">
                    <input name="checkboxes" id="checkboxes-1" value="Option two" type="checkbox">
                    Imaging
                </label>
                <label class="checkbox" for="checkboxes-1">
                    <input name="checkboxes" id="checkboxes-1" value="Option two" type="checkbox">
                    Procedure
                </label>
            </div>
        </div>


    </form>

</div>
<!-- /sidebar -->