<div id="orderEl" class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            <h4 class="panel-title">

                <i class="glyphicon glyphicon-chevron-down"></i>


                <span class="headings"><%= name %></span>

                <span class="badge">$<%= cost %></span>
            </h4>
        </a>
    </div>
    <div id='<%= id %>' class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <span class="blue">You Ordered:</span>
                </div>
                <div class="col-sm-6">
                    <%= name %>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <span class="blue">Because:</span>
                </div>
                <div class="col-sm-6">
                    Mitral regurgitation
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <span class="blue">Evidence Suggests:</span>
                </div>
                <div class="col-sm-6">
                    Don't test ($0)
                </div>
            </div>

        </div>
    </div>
</div>
