
<div class="detail-entry">
    <a class="detail-item">
    <% if (exists == "false") { %>
            Alert will <b>not be shown</b> if the subject is currently on any of the medications: <b class = "mouseover" title = "<% for (var i in codeterm){
                    var cur = codeterm[i]
                    print(cur+'&#013;')
                }%>">these</b>
    <%} else { %>
            Alert will <b>be shown only</b> if the subject is currently on any of the medications: <b class = "mouseover" title = "<% for (var i in codeterm){
                    var cur = codeterm[i]
                    print(cur+'&#013;')
                }%>">these</b>
    <%}%>
    </a>
    <a style = "float: right" class="remove-detail">&#10006</a>

</div>