

<div id="detail-modal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Create/Edit Clincian Group Constraint</h4>
            </div>

         <div class="modal-body">

         <div>

         <!--<select class="detail-input form-control attn-text" name="blacklist">
              <option value="true" >do not alert the clinician if</option>
              <option value="false" selected> only alert the clinician if</option>

          </select>-->

		 <p class="attn-text">The clinician is in one of the following groups: </p>

             <div style="clear:both; left: 70px" class="multi-select-search" type="groups" name = "groups"></div>


<div style="clear: both; min-height: 30px;"></div>


            </div>

        </div>
             <div class="modal-footer">
                      <button style = "float:left" class="btn btn-sm btn-default cancel-edit-button">Cancel</button>
            <button style = "float:right" class="btn btn-sm btn-info confirm-detail-button">Confirm</button>
                </div>
    </div>

</div>
    </div>