

<div id="detail-modal" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span
                        aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Create/Edit Problem List Diagnosis Constraint</h4>
            </div>

         <div class="modal-body">

         <div>

         <select class="detail-input form-control attn-text" name="exists">
              <option value="true" selected>only alert the clinician if</option>
              <option value="false"> do not alert the clinician if</option>

          </select>
		 <p class="attn-text">The subject had the diagnosis</p>
         <div style="clear:both" class="multi-select-search" type="snomed_diagnosis" name = "code"></div>
         <div style="clear: both; min-height: 30px;"></div>


	      <div style = "clear:both">
          <br>

	      </div>
          <div style = "clear:both"></div>


                <div class="modal-footer">
                      <button style = "float:left" class="btn btn-info cancel-edit-button">Cancel</button>
            <button style = "float:right" class="btn btn-info confirm-detail-button">Confirm</button>
                </div>
            </div>
        </div>
    </div>

