
<div class="detail-entry">
    <a class="detail-item">
    <% if (exists == "false") { %>
            Alert will <b>be shown</b> if any of: <b class = "mouseover"title = "<% for (var i in codeterm){
                    var cur = codeterm[i]
                    print(cur+'&#013;')
                }%>">these</b>
        are in the problem list.
    <%} else { %>
            Alert will <b>be shown only</b> if any of: <b class = "mouseover" title = "<% for (var i in codeterm){
                    var cur = codeterm[i]
                    print(cur+'&#013;')
                }%>">these</b>
        are in the problem list.

    <%}%>
    </a>
    <a style = "float: right" class="remove-detail">&#10006</a>

</div>