<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion2">
            <h4 class="sub-sub-panel panel-title">
                <div class="row">
                    <div class="col-sm-4">
                        <%= name %>
                    </div>
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-2">
                        Ignored
                    </div>
                </div>
            </h4>
        </a>
    </div>
    <div id="collapse<%= patient %>-<%= id %>" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <%= html %>
                <span class="label label-info" data-toggle="modal" data-target="#evidence-<%= id %>">Show Evidence</span>
                <!--<div class="col-sm-10">
                    <%= html %>
                </div>-->
                <!--<div class="col-sm-2">
                    <a  class="btn btn-default active" role="button"><i
                            class="glyphicon glyphicon-share-alt"></i> Check this Encounter</a>
                </div>-->


            </div>
        </div>
    </div>
</div>
