<div id="orderEl" class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" data-parent="#accordion">
            <h4 class="sub-panel panel-title">
                <b><%= name %></b>
                   <%= date %>
                   <span class="badge alertbadge">$<%= cost %></span>
            </h4>
        </a>
    </div>
    <div id='<%= name %>' class="panel-collapse collapse">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-6">
                    <span class="blue">You Ordered:</span>
                </div>
                <div class="col-sm-6">
                    <%= name %> (<%= date %>)
                </div>
                <div class="col-sm-6">
                    <span class="blue">Because:</span>
                </div>
                <div class="col-sm-6">
                    <%= cost %>
                </div>
                <div class="col-sm-6">
                    (<%= result %>)
                </div>
            </div>
        </div>
    </div>
</div>
