[loggers]
keys=root

[handlers]
keys=tmpHandler

[formatters]
keys=verboseFormatter

[logger_root]
level=DEBUG
handlers=tmpHandler

[handler_tmpHandler]
class=logging.handlers.TimedRotatingFileHandler
level=DEBUG
formatter=verboseFormatter
args=('/tmp/maven.log','midnight')

[formatter_verboseFormatter]
format=%(asctime)s     %(levelname)s	%(process)d	%(filename)s:%(lineno)d	%(message)s
datefmt=