<div id="overviewRuleList" style="float:left"><%=OverviewRuleList%></div>
<div style="float: left; position:relative; left:50px; text-align:center; width: 400px;height:700px;" id="OverviewRuleEdit">
     <div id = "OverviewRuleEditTop"><%=OverviewRuleEditTop%></div>
     <div id = "OverviewRuleEditName"><%=OverviewRuleEditName%></div>
     <div id = "OverviewRuleEditTriggers"><%=OverviewRuleEditTriggers%></div>
</div>
<div style="position:relative; left:50px; float: left" id="OverviewDetailList"><%=OverviewDetailList%></div>