<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Maven </title>
    <!-- CSS file -->
    <link rel="stylesheet" type="text/css" href="../../static/bootstrap/css/bootstrap.css">
</head>
<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Maven</a>


        </div>
    </div>
</nav>


<!-- div for main body-->
<div class="container">

    <!-- list -->
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">Maven Alerts</div>
            <div class="panel-body">
                <ul class="nav nav-pills nav-stacked">
                    {% for a in alerts[:5] %}
                    <li>
                        <a href="#">
                            <span class="badge pull-right">${{ a.saving }}</span>
                            {{ a.alert_title }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</div>


<!-- JS files -->
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="static/bootstrap/js/bootstrap.js"></script>

</body>
</html>
