<!doctype html>
<html>
<body bgcolor=#FFFFFF style='font-family: Arial; color: #444; word-spacing: normal; text-align: left; letter-spacing: 0; font-size: 104%;'>
<table>
    <col width=32px>
    <col width=100%%>
    <tr>
        <td valign='top'>
            <img src='/home/devel/maven/clientApp/notification_generator/img/evidence-28x35px.png'/>
        </td>

        <td valign='top'>
            <a href="{{ http_address }}/#/evidence/{{ encounter_id }}/patient/{{ patient_id }}/evi/{{ evi_id }}/login/{{ user }}/{{ user_auth }}">
                    <b>Evidence-Based Advisory</b>
            </a>
            <br/>{{ alert_tag_line }}
            <br/>{{ alert_description }}
        </td>
    </tr>
</table>
</body>
</html>
