<div class = "widget-column col-sm-12" style="clear: both;">
    <span class="headings title">EHR Integration Settings</span>
    <div class="panel-body admin-settings">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="span3">Unity Server Address:</div>
                        <div style='float:left'>
                            <% URLEND = "/Unity/UnityService.svc"
                               if (typeof EHRURL !== "undefined")
                               {
                                    DISP_URL = EHRURL.replace("http://","").replace("https://","").replace(URLEND,"");
                               }
                            %>
                            <select id='httphttps' class='form-control' <%= (typeof EHRURL !== 'undefined') ? 'disabled': '' %>>
                                <option class='form-control'
                                    value='https://' <%= (typeof EHRURL !== 'undefined') ? (EHRURL.indexOf("https://") > -1) ? 'selected' : '' : ''%>>https://
                                </option>
                                <option class='form-control'
                                    value='http://' <%= (typeof EHRURL !== 'undefined') ? (EHRURL.indexOf("https://") == -1) ? 'selected' : '' : '' %>>http://
                                </option>
                          </select>
                        </div>
                        <div style='float:left; margin-bottom:10px;'>
                            <input id="admin-ip-input" type="text" class='form-control'
                            <%= (typeof DISP_URL !== 'undefined') ? "value='"+DISP_URL+"' disabled" : "value='192.237.182.238'" %>>
                            <div class='span3' style='float:left'><%= URLEND %></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="span3">App Name:</div>
                        <input id="admin-name-input" class='form-control' type="text"
                            <%= (typeof EHRAppName !== 'undefined') ? "value='"+EHRAppName+"' disabled" : "value='MavenPathways.TestApp'" %>>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="span3">Service User:</div>
                        <input id="admin-username-input" class='form-control' type="text"
                            <%= (typeof EHRServiceUser !== 'undefined') ? "value='"+EHRServiceUser+"' disabled" : "value='MavenPathways'" %>>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        &nbsp;
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row" style='margin-bottom:10px;'>
                        <div class="span3">App Password:</div>
                        <input id="admin-pw-input" class='form-control' type="password"
			<%= (typeof EHRURL !== 'undefined') ? "value='' disabled" : "" %>>
                        
                    </div>
                </div>
                <br/>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div id="admin-setup-message" class="span3">&nbsp;</div>
                </div>
                <div class="col-sm-6">
                    <% if (typeof EHRURL !== 'undefined'){ %>
                    <div style='float:right'>
                        <button class="btn btn-default btn-xs unlock-admin-button">Edit EHR Settings</button>
                        <button class="btn btn-default btn-xs lock-admin-button" style="display: none;">Lock EHR Settings</button>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <span class="headings title">Connection Settings</span>
    <div class="panel-body admin-settings">
        <div class="col-md-12">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="span3">Polling Interval (seconds):</div>
                        <input id="admin-polling-input" class='time-input form-control' type="text"
                               value="<%= (typeof EHRPolling !== 'undefined') ? EHRPolling : '30'%>">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="span3">Login Inactivity Timeout (minutes):</div>
                        <input id="admin-timeout-input" class='time-input form-control' type="text"
                               value="<%= (typeof UserTimeout !== 'undefined') ? UserTimeout : '120'%>">
                    </div>
                </div>
            </div>
            <div class="save-settings-row row">
                <div class="col-sm-6">
                    <div id="save-admin-message" class="span3" >&nbsp;</div>
                </div>
                <div class="col-sm-6">
                    <div style='float:right'>
                        <button class="btn btn-default setup-admin-button">Save Changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
