<div class = "widget-column col-sm-12" style="clear: both;">
    <span class="headings title">EHR Integration Settings</span>
    <div class="panel-body admin-settings">
        <div class="col-md-12">
            <div class="row">
                <div class="setting-option option-left">Unity Server IP Address:
                    <input id="admin-ip-input" type="text" <%= (typeof ip !== 'undefined') ? "value='"+ip+"' disabled" : '' %>> </div>
                <div class="setting-option option-right">App Name:
                    <input id="admin-name-input" type="text" <%= (typeof appname !== 'undefined') ? "value='"+appname+"' disabled" : "value='Maven Pathways'" %>></div>
                <div class="setting-option option-left">App Password:
                    <input id="admin-pw-input" type="password" <%= (typeof ip !== 'undefined') ? "value='password' disabled" : '' %>> </div>
                <br/>
                    <span class="setting-option option-left" id="admin-setup-message">&nbsp;</span>
                    <% if (typeof ip !== 'undefined'){ %>
                    <div class="setting-option option-right">
                        <button class="btn btn-default btn-xs unlock-admin-button">Edit EHR Settings</button>
                        <button class="btn btn-default btn-xs lock-admin-button" style="display: none;">Lock EHR Settings</button>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>
    <span class="headings title">Connection Settings</span>
    <div class="panel-body admin-settings">
        <div class="col-md-12">
            <div class="row">
                <div class="setting-option option-left">Polling Interval (seconds):
                    <input id="admin-polling-input" class='time-input' type="text" value="<%= (typeof polling !== 'undefined') ? polling : '30'%>"> </div>
                <div class="setting-option option-right">Login Inactivity Timeout (minutes):
                    <input id="admin-timeout-input" class='time-input' type="text" value="<%= (typeof timeout !== 'undefined') ? timeout : '20'%>"> </div>
            </div>
        </div>
    </div>
    <div class="panel-body admin-settings">
        <div class="col-md-12">
            <div class="save-settings-row row">
                <span class="setting-option option-left" id="save-admin-message">&nbsp;</span>
                <div class="setting-option option-right"><button class="btn btn-default setup-admin-button">Save Changes</button></div>
            </div>
        </div>
    </div>
</div>