<div class="row">
  <div class="col-sm-12">
    <div class="alert-type" style="display:inline-block;">
      <img src="images/<%= alerttype.toLowerCase().replace(' ','-') %>-29x37.png"><br>
      <span class="headings title" style="float:left;"><%= alerttype %></span>
	  <div class="btn-group" style="float:right;">
        <ul class="dropdown-menu dropdown-menu-right" role="menu" style='float:right;'>
          <li><a class="dislike_info" value="incorrect">Disagree</a></li>
	      <li><a class="dislike_info" value="irrelevant">Not Applicable</a></li>
          <li><a class="dislike_info" value="notuseful">Not Useful</a></li>
          <li><a class="dislike_info dislike_other" value="other">Other...</a></li>
          <li style="display:none" class="dislike_text"><textarea class='dislike_text_form' rows="2" cols="25"></textarea></li>
	    </ul>

        <button type="button" class="btn btn-default btn-sm dislike" data-dismiss="modal" data-toggle="dropdown" style="font-size: 8px;">
            <span class="glyphicon glyphicon glyphicon-thumbs-down">
                <%= ((dislikes+likes==0) ? "N/A" : ((dislikes/(likes+dislikes))*100).toFixed(0)+"%") %></span>
	        <span class="sr-only">Toggle Dropdown</span>
        </button>

      </div>

      <button type="button" class="btn btn-default btn-sm like" data-dismiss="modal" style="font-size: 8px; float:right;">
        <span class="glyphicon glyphicon glyphicon-thumbs-up">
                <%= ((dislikes+likes==0) ? "N/A" : ((likes/(likes+dislikes))*100).toFixed(0)+"%") %></span>
      </button>
    </div>
    <p>
      <b><%= name %></b>
      <%= html %> 
      <% if(ruleid) { %>
      <span>
	<a style='white-space:nowrap' href='javascript:showEvidence("<%= ruleid %>")'>
	  Show Evidence >
	  </a>
      </span>
      <% } %>
    </p>
    <!--<span class="headings">Impact:</span>
    <span class="impact">$16</span>-->
    <hr>
  </div>
</div>
