<div class="row">
    <h2 class="headings alerts">
        maven alerts
    </h2>

    <!--<form class="navbar-form navbar-right">
      <span> Sort by: </span>
      <div class="form-group">
	<select class="form-control pull-right">
	  <option value="patient">
	    Recent Patients
	  </option>
	  <option value="medication">
	    Alert Name
	  </option>
	</select>
      </div>
    </form>-->

    <div class="row">

        <div class="col-sm-11">
            <!-- panel -->
            <!-- Charts -->
            <div class="row">
                <!-- main col -->
                <div class="col-sm-12">
                    <div class="alertlist">
                        <div class='panel-body'>
                            <div class='panel-group' id='alertaccordion'>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
            </div>
        </div>
    </div>
</div>
<div class="maven-padding"></div>

