<div class="page-header">
    <h1>
        Support Dashboard
        <small>
            <i class="ace-icon fa fa-angle-double-right"></i>
            Audit List
        </small>
    </h1>
</div><div class = "widget-column">
    <div class="auditlist audit-scroll" style="clear:both;">
        <div class="auditaccordion">
            <table class="table table-condensed table-hover audittable">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <col width="20%">
            <thead >
                <tr>
                    <th align="left">Date</th>
                    <th align="left">Patient</th>
                    <th align="left">Action</th>
                    <th align="left">User</th>
                    <th align="left">Device</th>
                    <th align="left">Details</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
            </table>
        </div>
    </div>
    <div class="audit-control-row">
        <!--[if gte IE 10]><!-->
            <button class="btn btn-default download-user-audits">Download Audits</button>
        <!--<![endif]-->
    </div>
</div>
