<div class="row" style="margin: 0px auto; width: 90%;">

        <span class="title headings">
            <% if(page == 'episode') { %>
            Encounter Cost Breakdown
            <% } else { %>
            Cost Breakdown
            <% } %>
        </span>
    <h4 class='panel-title' id='costbd-restriction'>
    </h4>

    <div id="order-table" class="col-sm-12">
        <div id="order-table-1" class="col-sm-6">

            <div class="row">
            <div class="col-sm-3">
                    <img src="../images/imaging-55x55px.jpg">
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <span class="cost-num">$180</span>
                    </div>
                    <div class="row">
                        <span>Imaging</span>
                    </div>
                </div>
                </div>

            <div class="row">
            <div class="col-sm-3">
                    <img src="../images/imaging-55x55px.jpg">
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <span class="cost-num">$180</span>
                    </div>
                    <div class="row">
                        <span>Imaging</span>
                    </div>
                </div>
                </div>

            <div class="row">
            <div class="col-sm-3">
                    <img src="../images/imaging-55x55px.jpg">
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <span class="cost-num">$180</span>
                    </div>
                    <div class="row">
                        <span>Imaging</span>
                    </div>
                </div>
                </div>


        </div>
        <div id="order-table-2" class="col-sm-6">

            <div class="col-sm-3">
                    <img src="../images/imaging-55x55px.jpg">
                </div>
                <div class="col-sm-2">
                    <div class="row">
                        <span class="cost-num">$180</span>
                    </div>
                    <div class="row">
                        <span>Imaging</span>
                    </div>
                </div>



        </div>
    </div>


    <div id="cost-bd" class="chart-div" style="margin-top:0; height: 100px; !important"></div>
</div>
<div class="maven-padding"></div>
