<div class = "widget-column, col-sm-12">
<div class="row" style="margin: 0px auto; width: 90%;">

        <span class="title headings">
            <% if(page == 'episode') { %>
            Encounter Cost Breakdown
            <% } else { %>
            Cost Breakdown
            <% } %>
        </span>
    <h4 class='panel-title' id='costbd-restriction'>
    </h4>

    <div id="order-table" class="col-sm-12">
        <div id="order-table-1" class="col-sm-6"></div>
        <div id="order-table-2" class="col-sm-6"></div>
    </div>

</div>
<div class="container col-md-9" style="margin-left: 50px;">
    <div id="cost-bd" class="progress" style="margin-top:25px;"></div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
</div>
