<div class = "widget-column col-sm-12" style="clear: both;">

<div class="row customerlist" style="margin: auto; width: 100%;">
    <div class="widget-header">
    <span class="headings title">Customers</span>
        <button type="button" class="btn btn-default btn-xs refreshButton" data-dismiss="modal" style="margin-left:10px; color: #46ECBD; font-size: 10px;">
            <span class="glyphicon glyphicon-refresh"></span>
        </button>
    </div>
    <div class="customeraccordion" style="overflow-y:auto; max-height:500px; width:100%">
        <table class="table table-condensed table-hover customertable" style="width:100%; padding: 0;">
        <col width="5%">
        <col width="43%">
        <col width="13%">
        <col width="17%">
        <col width="11%">
        <col width="*">
        <thead>
            <tr>
                <th align="left" id="cus_id">ID</th>
                <th align="left" id="cus_name">Name</th>
                <th align="left" id="cus_abbr">Abbreviation</th>
                <th align="left" id="cus_license_exp">License Exp</th>
                <th align="left" id="cus_license_typ"># Licenses</th>
                <th align="left"></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
    </div>
    <div class="save-settings-row row">
        <span id="save-customer-message" class="setting-option option-left">&nbsp;</span>
        <div class="setting-option option-right"><button id="save-customer-changes" class="btn btn-default">Save Changes</button></div>
    </div>
</div>

</div>