<div class = "widget-column col-sm-12" style="clear: both;">
    <div class="panel-body customer-creation">
        <span class="headings title">Add Customer</span>
        <select id="customerType">
            <option value="allscripts">Allscripts</option>
        </select>
        <div class="row">
            <div class="col-md-6">
                <div class="setting-row">Customer Name: <input id="customer-name-input" type="text"> </div>
                <div class="setting-row">Customer Abbreviation: <input id="customer-abbr-input" type="text"> </div>

            </div>
            <div class="col-md-6">
                <div class="setting-row">IP Address: <input id="customer-ip-input" type="text"> </div>
                <div class="setting-row"># of Licenses: <input id="customer-license-input" type="text"> </div>
            </div>
        </div>
        <div class="add-customer-row">
            <button class="btn btn-default add-customer-button">Add Customer</button>
        </div>
    </div>
</div>