<div class = "widget-column col-sm-12" style="clear: both;">

<div class="row customerlist" style="margin: auto; width: 100%;">
    <span class="headings title">Customers</span>
    <div class="panel-group customeraccordion" style="overflow-y:auto; max-height:500px; width:100%">
        <table class="table table-condensed table-hover customertable" style="width:100%; padding: 0;">
        <col width="20%">
        <col width="20%">
        <thead>
            <tr>
                <th align="left" id="cus_id">Customer ID</th>
                <th align="left" id="cus_address">Abbreviation</th>
                <th align="left" id="cus_address">License Expiration</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
    </div>
</div>

</div>