<td>
    <%= customer_id %>
    <input class="customer-id-row" type="hidden" value="<%= customer_id %>">
</td>
<td>
    <div class="customer-row-val"><%= name %></div>
    <input class="customer-name-row customer-row-edit" type="text" value="<%= (name.trim && name.trim()) || name %>">
</td>
<td>
    <div class="customer-row-val"><%= abbr %></div>
    <input class="customer-abbr-row customer-row-edit" type="text" value="<%= abbr %>">
</td>
<td>
    <div class="customer-row-val"><%= license_exp %></div>
    <input class="customer-license-exp-row customer-row-edit" type="text" value="<%= license_exp %>">
</td>
<td>
    <div class="customer-row-val"><%= license_type %></div>
    <input class="customer-license-num-row customer-row-edit" type="text" value="<%= license_type %>">
</td>
<td>
    <a class="customer-info-click hover-link">
        View Info
    </a>
</td>
