<div class = "widget-column col-sm-12" style="clear: both;">
    <span class="headings title">Add Customer</span>
    <div class="panel-body customer-creation">

        <div class="col-md-12">
            <div class="row">
                <div class="setting-option col-sm-6">Customer Name: <input id="customer-name-input" type="text"> </div>
                <div class="setting-option col-sm-6"># of Licenses: <input id="customer-license-input" type="text"> </div>
                <div class="setting-option col-sm-6">Customer Abbreviation: <input id="customer-abbr-input" type="text"> </div>
		<div class="setting-option col-sm-6">Initial IT User: <input id="customer-ituser-input" type="text"> </div>
                <div class="setting-option col-sm-6">Customer Type:
                    <select id="customerType">
                        <option value="allscripts">Allscripts</option>
                    </select>
                </div>
            </div>
            <div class="save-settings-row row">
                <span class="setting-option option-left" id="add-customer-message">&nbsp;</span>
                <div class="setting-option option-right"><button class="btn btn-default add-customer-button">Add Customer</button></div>
            </div>
        </div>
    </div>
</div>
