<div class="row" id="utilization" style='width:90%;margin:0 auto 0 auto'>
    <h2 class="headings">Overview of <%= title %></h2>

    <div class="container row enc-date">
        <span>Today</span>
        <a onclick="location.href='#'">View time range <i class="glyphicon glyphicon-calendar"></i></a>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <span class="headings title">Utilization total:</span>
            <span class="cost-num">$ <%= spending %></span>
        </div>
        <div class="col-sm-6">
            <span class="headings title">CDS impact:</span>
            <span class="cost-num">$ <%= savings %></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <hr>
    </div>
</div>
