<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-body">
      <div style="color:red">Your password has expired, please change it now before loggin in.</div>
      <div>
	Username: <input id="login-user" type="text" name="user" value="<% if(user) print(user); %>">
      </div>
      <div>
	<b>Old </b>Password: <input id="login-password" type="password" name="password">
      </div>
      <div id='new-password-container'>
	<b>New</b> Password: <input id="login-new-password" type="password" name="password"> 
	<div> New passwords must contain:</div>
	<ul>
	  <li>At least 8 characters <i id='pw-len-cb'></i></li>
	  <li>A lower-case character <i id='pw-low-cb'></i></li>
	  <li>An upper-case character <i id='pw-up-cb'></i></li>
	  <li>A number<i id='pw-num-cb'></i></li>
	</ul>
	<div> It must be different from the old password <i id="pw-diff-cb"></i></div>
      </div>
      <div>
	<button id="update-password">Update Password</button>
      </div>
    </div>
  </div>
</div>
