<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-body">
      <div style="color:red">Your password has expired, please change it now before loggin in.</div>
      <div>
	Username: <input id="login-user" type="text" name="user" value="<% if(user) print(user); %>">
      </div>
      <div>
	<b>Old</b>Password: <input id="login-password" type="password" name="password">
      </div>
      <div>
	<b>New</b>Password: <input id="login-new-password" type="password" name="password"> 
	<b id="password-message"></b>
      </div>
      <div>
	<button id="login-button">Log in</button>
      </div>
    </div>
  </div>
</div>
