<div class="widget-container-col col-sm-8">
    <div class="widget-box">
        <div class="widget-header widget-header-large">

            <h4 class="widget-title">User Group Editor</h4>
            <!-- #section:custom/widget-box.toolbar -->
            <div class="widget-toolbar">
                <div class="widget-menu">
                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>
                    <a href="#" data-action="collapse">
                        <i class="ace-icon fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <!-- /section:custom/widget-box.toolbar -->

        </div>
        <div class=widget-body>
            <div class='widget-main'>
                <div class='row'>
                    <div class="col-xs-12 col-sm-4 widget-container-col">
                        <div class="widget-box transparent">
                            <div class="widget-header widget-header-small"><h5 class="widget-title-lighter">User
                                Groups
                            <span style="float: right; margin-right: 6px" title = "Add new Group" id = "addGroupButton" class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </h5>


                            </div>
                            <div class=widget-body>
                                <ol id="groupNames" class="dd-list">


                                </ol>
                            </div>
                        </div>
                    </div>
                    <div id="curGroup">


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>