<li class="dd-item pathrow-item dd2-item dd-collapsed">
        <div class="path-row dd-handle dd2-handle" title="Pathway">
        <!--<i class="normal-icon ace-icon fa fa-signal orange bigger-130"></i>-->
        <img class="normal-icon" src="../images/temp/newPath.jpg" style="width: 20px; height: 20px">
        <i class="drag-icon ace-icon fa fa-arrows bigger-125"></i>
    </div>
    <div class = 'nameDiv dd2-content'>
        <div title = "<%=description%>" class="col-xs-8"><%=term%></div>
        <div class="col-xs-3"></div>
        <i title = "Delete This Group" style="float: right" class="deleteDiv col-xs-1 ace-icon fa fa-trash-o bigger-140"></i>
    </div>
</li>