<div class = "widget-column">
  <div id='listinteractions'>
    <span class="headings title">Pathway Interactions</span>
    <button type="button" class="btn btn-default btn-xs refreshButton" data-dismiss="modal" style="margin-left:10px; color: #46ECBD; font-size: 10px;">
      <span class="glyphicon glyphicon-refresh"></span>
    </button>
    <div class="interactionlist interaction-scroll" style="clear:both;">
      <div class="interactionaccordion">
        <table class="table table-condensed table-hover interactiontable">
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <col width="20%">
          <thead >
            <tr>
              <th align="left">User</th>
              <th align="left">Patient</th>
              <th align="left">Pathway</th>
              <th align="left">Time</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div id='interactioncontrols'>
    <span class="headings title">Pathway Interaction Replay</span>
    <button id='nextinteraction' type='button' class='btn btn-default'>Next</button>
  </div>
</div>
