<div class = "widget-column col-sm-12">
<div class="modal-dialog modal-lg login">
    <div class="modal-content">
        <div class="modal-body">
                <h3><span class="glyphicon glyphicon-lock"></span><span class="brand"><b>maven</b></span> Sign In</h3>
            <div class="container col-md-12">
               <p><input id="login-user" type="text" name="user" placeholder="User name" value="<% if(user) print(user); %>" required></p>
               <p><input id="login-customer" type="text" name="customer" placeholder="Customer ID" required></p>
                <p><input id="login-password" type="password" placeholder="password" name="password" autofocus></p>
            </div>
            <div id="login-buttons" >
                <button id="login-button">Log in</button>
                <button id="fastlogin-button">(dev) Log in</button>
                <button id="toggle-password" class='pull-right'
                        onclick='$("#new-password-container").show();$("#login-buttons").hide();'>Change Password
                </button>
            </div>
            <div id='new-password-container' style='display:none'>
                <b>New</b> Password: <input id="login-new-password" type="password" name="password">

                <div> New passwords must contain:</div>
                <ul>
                    <li>At least 8 characters <i id='pw-len-cb'></i></li>
                    <li>A lower-case character <i id='pw-low-cb'></i></li>
                    <li>An upper-case character <i id='pw-up-cb'></i></li>
                    <li>A number<i id='pw-num-cb'></i></li>
                </ul>
                <div> And it must be different from the old password <i id="pw-diff-cb"></i></div>
                <div>
                    <button id="update-password">Update Password</button>
                </div>
                </div>
        </div>
    </div>
</div>

</div>
