<div class="widget-column col-sm-12">
    <div class="row heading">
         <span class="headings title">

             <%=decodeURIComponent(name)%>

         </span>


            <button type="button" class="close">
            <span class="glyphicon glyphicon-remove" style="font-size: 13px; color: #ffffff;"></span>
        </button>

    </div>
    <div class="row nodeInfo">
        <span>
            <%= (typeof sidePanelText !== 'undefined') ? decodeURIComponent(sidePanelText) : '' %>

        </span>
    </div>
</div>
