<div class="widget-column col-sm-12">
    <div id="mavenInfo-header" class="row heading">

        <button type="button" class="close">
            <span class="glyphicon glyphicon-remove" style="font-size: 13px; color: #ffffff;"></span>
        </button>

         <span id="mavenInfo-title" class="headings title">
             <%=name%>
         </span>

    </div>
    <div class="row nodeInfo">
        <span>
            <%= (typeof sidePanelText !== 'undefined') ? sidePanelText : '' %>
        </span>
    </div>
    <div class="row">
        <button type="button" id="toggleLayout">Toggle layout</button>
    </div>

</div>
