<div class="row">
    <h2 class="headings alerts">
        maven info
    </h2>

    <!--<form class="navbar-form navbar-right">
      <span> Sort by: </span>
      <div class="form-group">
	<select class="form-control pull-right">
	  <option value="patient">
	    Recent Patients
	  </option>
	  <option value="medication">
	    Alert Name
	  </option>
	</select>
      </div>
    </form>-->

    <div class="row">

        <div class="col-sm-11">
            <!-- panel -->
            <!-- Charts -->
            <div class="row">
                <!-- main col -->
                <div class="col-sm-12">
                    <div class="alertlist">
                        <h2 class="headings title">
                            <span class="glyphicon glyphicon-list"></span>
                            Castration-Resistant Prostate Cancer</h2>

                        <ul id="info-tabs" class="nav nav-tabs" role="tablist">
                            <li class="active">
                                <a href="#pane1" role="tab" data-toggle="tab" class="headings">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                    About
                                </a>
                            </li>
                            <li>
                                <a href="#pane2" role="tab" data-toggle="tab" class="headings">
                                    <span class="glyphicon glyphicon-globe"></span>
                                    Resources
                                </a></li>
                            <li>
                            <li>
                                <a href="#pane3" role="tab" data-toggle="tab" class="headings">
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                    Quality Standards </a></li>
                            <li>
                        </ul>

                        <div class="tab-content">
                            <div id="pane1" class="tab-pane active pane-content">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/row-->
            </div>
        </div>
    </div>
</div>
<div class="maven-padding"></div>

