<div class = "widget-column col-sm-12">
<div class="modal-dialog modal-lg login">
  <div class="modal-content">
    <div class="modal-body row">
      <h3>
	<span class="glyphicon glyphicon-lock"></span>
	Welcome to 
	<span class="brand"><b>maven</b></span> 
	Create a strong password
      </h3>
      <div class="container col-md-12">
	<p><input id="login-user" type="text" name="user" 
	  value='<%= user %>' ></p>
	<p><input id="login-customer" type="text" name="customer" 
		  value='<%= customer_id %>' required></p>
	<input id="login-oauth" type="hidden" name="oauth" value="<%= oauth %>">
      <div id='new-password-container'>
	<p><input id="login-new-password" type="password" name="password"
	       placeholder="New password" required></p>
	<p>
	  <div> New passwords must contain:</div>
	  <ul>
	    <li>At least 8 characters <i id='pw-len-cb'></i></li>
	    <li>A lower-case character <i id='pw-low-cb'></i></li>
	    <li>An upper-case character <i id='pw-up-cb'></i></li>
	    <li>A number<i id='pw-num-cb'></i></li>
	  </ul>
	  <div> It must be different from the old password <i id="pw-diff-cb"></i></div>
	  </p>
      </div>
      <div>
	<button id="update-password">Update Password</button>
      </div>
      </div>
    </div>
  </div>
</div>
