<div class="panel panel-default" style="margin-bottom:4px">
  <div class="panel-heading">
    <a data-toggle="collapse" data-parent="#orderaccordion" href="#collapse<%= id %>">
      <h4 class="panel-title">
        <i class="glyphicon glyphicon-chevron-right">
	  <img src="images/<%= category %>-55x55px.jpg" alt="<%= category %>" height="40" width="40">
	  </i>
          <span class="headings"><%= name %></span>
          <span class="badge">$<%= cost %></span>
      </h4>
    </a>
  </div>
  <div id="collapse<%= id %>" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6">
          <span class="blue">You Ordered:</span>
        </div>
        <div class="col-sm-6">
          <%= name %> ($<%= cost %>) on <span style="white-space:nowrap"><%= date.substr(0,19) %></span>
        </div>
      </div>
    </div>
  </div>
</div>

