

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="../js/libs/jsplumb2/js/jsplumb.js"></script>
<style>

</style>
<div class = "widget-column col-sm-12">

<div id="toast">
    <span class="glyphicon glyphicon-ok"></span>
    Note-ready text added to clipboard
</div>

<div class="row" style="margin: 0px auto; width: 90%;">
        <span class="title headings">
        <!-- static -->
            CRPC Pathway
            <button type="button" class="btn btn-default btn-sm path" id="expandAll" style="float: right">
<span data-toggle="tooltip" title="Expand All"><img src="../images/pathway-icon2.png" style="width: 30px; height: 30px"></span>
                </button>

            <button type="button" class="btn btn-default btn-sm path" id="sugPath" style="float: right">

                <span data-toggle="tooltip" title="Suggested Pathway"><img src="../images/pathway-icon3.png" style="width: 35px; height: 30px"></span></button>
        </span>

    <div id="pathway-container" style="transform: scale(1); width: 2000px">

        <div class="tree2">
            <ul>
                <li class='parent'>
                    <div id="n1" class="qualifier suggested">
                        <!-- content & helping text -->
                        <span>CRPC</span>
                    </div>
                    <ul class="children">
                        <li class='parent'>
                            <div id='n1-1' style="display:run-in" class="qualifier suggested">
                                <!-- content & helping text -->
                                <span data-toggle="tooltip" title="This patient has mCRPC">Metastatic</span>
                            </div>

                            <ul class="children">
                                <li class='parent'>
                                    <div id='n-1-1-1' class="qualifier">
                                        <!-- content & helping text -->
                                        <span>Prior Docetaxel</span>
                                    </div>

                                </li>
                                <li class='parent'>
                                    <div class="qualifier suggested">
                                        <!-- content & helping text -->
                                            <span data-toggle="tooltip"
                                                  title="This patient has mCRPC, but has not received prior docetaxel therapy">No Prior Docetaxel</span>
                                    </div>
                                    <ul class="children">
                                        <li class="parent">
                                            <div class="qualifier suggested">
                                                <!-- content & helping text -->
                                                    <span data-toggle="tooltip"
                                                          title="This patient has symptomatic mCRPC, but has not received prior docetaxel therapy">Symptomatic</span>
                                            </div>
                                            <ul class="children">
                                                <li class="parent">
                                                    <div id='gp' class="qualifier suggested">
                                                        <!-- content & helping text -->
                                                            <span data-toggle="tooltip"
                                                                  title="This patient has symptomatic mCRPC and good performance status (ECOG 0-1), but has not received prior docetaxel therapy.">
                                                                Good Performance</span>
                                                    </div>
                                                    <ul class="children">
                                                        <li class='parent'>
                                                            <div id='i3' class="protocole suggested">
                                                                <!-- content & helping text -->
                                                                <div class="index headings">Index Patient 3</div>
                                                            <span class="plan">
                                                                <span>
                                                                    <strong>STANDARD</strong>
                                                                    <p>
                                                                        Docetaxel to patient with symptomatic, mCPRC
                                                                        with
                                                                        good performance status and no prior docetaxel
                                                                        chemotherapy.
                                                                    </p>
                                                                </span>
                                                                <span>
                                                                    <strong>RECOMMENDATION</strong>
                                                                    <p>
                                                                        Abiraterone +prednisone to patients with
                                                                        symptomatic, mCRPC with
                                                                        good performance status and no prior docetaxel
                                                                        chemotherapy.
                                                                    </p>
                                                                </span>
                                                                <span>
                                                                    <strong>OPTION</strong>
                                                                    <p>
                                                                        (C) Ketoconazole + steroid, (B) mitoxantrone or
                                                                        (C)
                                                                        radionuclide therapy
                                                                        to patients with symptomatic, mCRPC with good
                                                                        performance status and
                                                                        no prior docetaxel chemotherapy who do not want
                                                                        or
                                                                        cannot have one of
                                                                        the standard therapies.

                                                                    </p>
                                                                </span>


                                                                    <button id='copybutton' type="button"
                                                                            class="btn btn-default btn-sm"
                                                                            style="float: right">
                                                                        <img src="../images/copy-icon.png"
                                                                             style="width: 20px; height: 20px;"
                                                                             title="Copy">
                                                                    </button>



                                                            </span>
                                                            </div>

                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="parent">
                                                    <div class="qualifier">
                                                        <!-- content & helping text -->
                                                        <span>Poor Performance</span>
                                                    </div>
                                                </li>
                                            </ul>

                                        </li>
                                        <li class="parent">
                                            <div class="qualifier">
                                                <!-- content & helping text -->
                                                <span>Asymptomatic</span>
                                            </div>
                                        </li>
                                    </ul>

                                </li>
                            </ul>
                        </li>
                        <li class='parent'>
                            <div id='n1-2' class="qualifier">
                                <!-- content & helping text -->
                                <span data-toggle="tooltip">Non-Metastatic</span>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


    </div>


</div>

<!--
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>
-->




</div>
