<div class = "widget-column col-sm-12">
  <div class="pat-nav">
    <nav class="navbar navbar-default navbar-fixed-top navbar-lower" role="navigation">
      <div class="container" style="display:table">
	<div class="col-sm-12 pat-info">
          <div class="row pat-title">
            Patient Name:
	  </div>
	  <div class="row">
            <span id="pat-name"><b><%= name %></b></span> 
	    <span style="white-space:nowrap">(<%= gender %>, <%= DOB %>)</span>
	  </div>
	</div>
      </div>
    </nav>
  </div>
  <!-- /Patient Header -->
</div>
