<div class = "widget-column col-sm-12">
<div class="modal-dialog modal-lg" id="profile" xmlns="http://www.w3.org/1999/html">
<div class="modal-content">

<div class="tabbable">
<ul id="profile-tabs" class="nav nav-tabs ">
    <li class="active">
        <a href="#pane1" role="tab" data-toggle="tab" class="headings">
            <span class="glyphicon glyphicon-user"></span>
            About me
        </a>
    </li>
    <li>
        <a href="#pane2" role="tab" data-toggle="tab" class="headings">
            <span class="glyphicon glyphicon-star"></span>
            My Favorite
        </a></li>
    <li>
        <a href="#pane3" role="tab" data-toggle="tab" class="headings">
            <span class="glyphicon glyphicon-thumbs-up"></span>/
            <span class="glyphicon glyphicon-thumbs-down"></span>
            Liked / disliked
        </a></li>
    <li>
        <a href="#pane4" role="tab" data-toggle="tab" class="headings">
            <span class="glyphicon glyphicon-tasks"></span>
            My Actions
        </a></li>
    <li>
        <a href="#pane5" role="tab" data-toggle="tab" class="headings">
            <span class="glyphicon glyphicon-tasks"></span>
            My Audits
        </a></li>
    <li>
        <a href="#pane6" role="tab" data-toggle="tab" class="headings">
            <span class="glyphicon glyphicon-cog"></span>
            Settings
        </a></li>
</ul>

<div class="tab-content">
    <div id="pane1" class="tab-pane active pane-content">
        <div class="panel panel-default">
            <div class="panel-body">

                <div class="row">
                    <h2 class="headings">Dr.Maven</h2>
                </div>
                <div class="row">
                    <div class="col-md-8">


                        <span class="headings title alerts">Speciality:</span>

                        <p> Pediatrics</p>

                        <span class="headings title alerts"> Departments:</span>

                        <p> Blah, Blah Blah</p>

                    </div>
                    <div class="col-md-3">
                        <span class="headings title alerts"> Facts About Me:</span>

                         <p>
                            <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            20 Years of Experience</p>

                        <p>
                            <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            250 Patients</p>

                        <p>
                            <span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            50 Procedures</p>

                        <p><span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            120k Orders</p>

                        <p><span class="glyphicon glyphicon glyphicon-chevron-right"></span>
                            30 Alerts</p>


                    </div>
                </div>
            </div>
        </div>


    </div>
    <div id="pane2" class="tab-pane pane-content">

        <div class="panel panel-default">
            <div class="panel-heading rule">
                <h3 class="panel-title">Rule 1</h3>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Evidence 1
                                <span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span></div>

                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Evidence 2
                                <span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span></div>

                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Evidence 3
                                <span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span></div>

                    <div class="panel-body">
                        Panel content
                    </div>
                </div>


            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading rule">
                <h3 class="panel-title">Rule 2</h3>
            </div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Evidence 1
                                <span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span></div>

                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Evidence 2
                                <span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span></div>

                    <div class="panel-body">
                        Panel content
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">Evidence 3
                                <span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span>
                    </div>

                    <div class="panel-body">
                        Panel content
                    </div>
                </div>


            </div>
        </div>


    </div>
    <div id="pane3" class="tab-pane pane-content">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Rule 1</div>
            <div class="panel-body">
                <p>Info about rule</p>
            </div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">Evidence 1
                 <span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span>
                </li>
                <li class="list-group-item">Evidence 2
                <span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span>
                </li>
                <li class="list-group-item">Evidence 3
                <span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span>
                </li>
                <li class="list-group-item">Evidence 4
                <span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span>
                </li>
                <li class="list-group-item">Evidence 5<span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span>
                </li>
            </ul>
        </div>
<div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Rule 2</div>
            <div class="panel-body">
                <p>Info about rule</p>
            </div>

            <!-- List group -->
            <ul class="list-group">
                <li class="list-group-item">Evidence 1
                 <span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span>
                </li>
                <li class="list-group-item">Evidence 2
                <span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span>
                </li>
                <li class="list-group-item">Evidence 3
                <span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span>
                </li>
                <li class="list-group-item">Evidence 4
                <span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span>
                </li>
                <li class="list-group-item">Evidence 5<span class="badge">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-thumbs-up">85%</span>
                                    <span class="glyphicon glyphicon-thumbs-down">15%</span>
                                    <span class="glyphicon glyphicon-comment">5</span>
                                </span>
                </li>
            </ul>
        </div>

    </div>
    <div id="pane4" class="tab-pane pane-content">
        <h4>Pane 4 Content</h4>
    </div>
    <div id="pane5" class="tab-pane pane-content">
        <div class="panel panel-default audit-panel">
            <div class="panel-heading rule">
                <span class="audit-date">Date</span>
                <span class="audit-action">Action</span>
            </div>
            <div id="pane5-content" class="panel-body">

            </div>
        </div>
    </div>
    <div id="pane6" class="tab-pane pane-content">
        <div class="panel panel-default">
            <div class="panel-heading rule">
                <h3 class="panel-title">Profile Settings</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="setting-row">Official Name: <input id="official-name-input" type="text" value="<%=official_name %>" autofocus> </div>
                        <div class="setting-row">Display Name: <input id="display-name-input" type="text" value="<%= display %>" > </div>
                        <div class="setting-footer">
                            <button id="save-settings" class="btn btn-default">Save</button>
                            <button id="cancel-settings" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <div id='settings-save-status' class="save-status"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">

            <div class="panel-heading rule">
                <h3 class="panel-title">Change Password</h3>
            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="setting-row">Old Password: <input id="current-password" type="password" placeholder="password" name="password"></div>
                        <div class="setting-row">New Password: <input id="new-password" type="password" name="password" placeholder="password"></div>
                        <div class="setting-row">Confirm New Password: <input id="new-password2" type="password" name="password" placeholder="password"></div>

                        <div class="setting-footer">
                            <button id="change-password" class="btn btn-default">Update Password</button>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <div> New passwords must contain:</div>
                        <ul>
                            <li>At least 8 characters <i id='pw-len-cb'></i></li>
                            <li>A lower-case character <i id='pw-low-cb'></i></li>
                            <li>An upper-case character <i id='pw-up-cb'></i></li>
                            <li>A number<i id='pw-num-cb'></i></li>
                        </ul>
                        <div> And it must be different from the old password <i id="pw-diff-cb"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.tab-content -->
</div>
<!-- /.tabbable -->

<div class="modal-footer" style="padding: 5px 20px 5px;">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div>

</div></div>
