<div class="modal-dialog modal-lg" id="profile" xmlns="http://www.w3.org/1999/html">
    <div class="modal-content">
        <ul id="profile-tabs" class="nav nav-tabs" role="tablist">
            <li class="active">
                <a href="#aboutme" role="tab" data-toggle="tab" class="headings title">
                <span class="glyphicon glyphicon-user"></span>
                    About me
                </a>
            </li>
            <li>
                <a href="#myfavorite" role="tab" data-toggle="tab" class="headings title">
                    <span class="glyphicon glyphicon-star"></span>
                My Favorite
                </a></li>
            <li>
                <a href="#likedislike" role="tab" data-toggle="tab" class="headings title">
                    <span class="glyphicon glyphicon-thumbs-up"></span>/
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                Liked / disliked
                </a></li>
            <li>
                <a href="#statistics" role="tab" data-toggle="tab" class="headings title">
                    <span class="glyphicon glyphicon-tasks"></span>
                Statistics
                </a></li>
            <li>
                <a href="#settings" role="tab" data-toggle="tab" class="headings title">
                    <span class="glyphicon glyphicon-cog"></span>
                Settings
                </a></li>
        </ul>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>