<div class="followup">
    <div class="row">
        <div class="col-sm-1">
            <span class="headings">Subject</span>
        </div>
        <div class="col-sm-5">
            <input type="text" class="form-control reminderSubject" name="reminderSubject">
        </div>
        <div class="col-sm-3">
            <div class="input-group input-group-sm" style="max-width:360px;">
                <input type="text" class="form-control reminderTime" name="reminderTime">
            </div>
        </div>
        <div class="col-sm-2">
            &nbsp;
            <!--<div class="input-group input-group-sm" style="max-width:360px;">
                <select class="form-control reminderFrequency" name="reminderFrequency">
                    <option value="Never">Never</option>
                </select>
            </div> -->
        </div>
    </div>

    <div class="row ">
        <div class="col-sm-1">
            <span class="headings">Message</span>
        </div>
        <div class="col-sm-5">
            <input type="text" class="form-control reminderText" name="reminderText">
        </div>
    </div>
</div>
