<div class = "widget-column col-sm-12">
<div class="modal-dialog modal-lg login">
  <div class="modal-content">
    <div class="modal-body">
      <h3><span class="glyphicon glyphicon-repeat"></span>EMR password reset</h3>
      <p><input id="ehr-user" type="text" name="user" placeholder="EMR user name"> </p>
      <p><input id="reset-customer" type="text" name="customer" placeholder="Customer ID"></p>
      <div id='recaptcha-div'></div>
      <div>
        <button id="send-reset-password">Send</button> reset password link to EMR account
      </div>
    </div>
  </div>
</div>
</div>
