<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-body">
      <div style="color:red">The link you have followed has been used before.  To protect HIPAA protected information, please log using your username and password.</div>
      <div>
	Username: <input id="login-user" type="text" name="user" value="<% if(user) print(user); %>">
      </div>
      <div>
	Password: <input id="login-password" type="password" name="password">
      </div>
      <div>
	<button id="login-button">Log in</button>
      </div>
    </div>
  </div>
</div>
