<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse" data-target="#sidebar">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left"
       data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>

<div class="sidebar-toggle sidebar-expand" id="sidebar-expand" data-target="#sidebar">
    <i class="ace-icon fa fa-angle-double-right" data-icon1="ace-icon fa fa-angle-double-right"
       data-icon2="ace-icon fa fa-angle-double-left"></i>
</div>


<ul class="nav nav-list" id="sidebar-list">

</ul>


