<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
    <span class="sr-only">Toggle sidebar</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>

<div class="navbar-header pull-left">
    <!-- #section:basics/navbar.layout.brand -->
    <a href="#" class="navbar-brand">
        <large>
            <i class="fa fa-leaf"></i>
            maven
        </large>

    </a>
</div>

<div class="nav navbar-nav navbar-buttons navbar-header pull-right" role="navigation">
    <ul class="nav ace-nav">
        <li class="light-blue">
            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                <i class="glyphicon glyphicon-user" style="color: whitesmoke;"></i>
                <span class="dr"><%= display %></span><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="#" id="profile_button">
                        <i class="ace-icon fa fa-cog"></i>
                        My Profile
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#" onclick="location.href='#logout'">
                        <i class="ace-icon fa fa-power-off"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>