    <div style="float: right; margin-right: 1%;" class="col-xs-12 col-sm-7 widget-container-col">
        <div class="widget-box transparent">
            <div class="widget-header widget-header-small"><h5 class="widget-title-lighter">Editing: <%=name%></h5>
            </div>
            <div class=widget-body>
                <div class='row'>
                    <div style=" text-align: Center" class='col-sm-12'></div>
                </div>
                <div class='row'>
                    <div style=" text-align: Center" class='col-sm-12'><input id="user-field" placeholder="Search Users"
                                                                              class = "user-field-text col-sm-12"
                                                                              type="text"></div>
                </div>
            </div>

            <div class='row'>
                <div class='col-sm-12 widget-container-col'>
                    <Select id="selectionBox" class="form-control" multiple="multiple">
                    </Select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <button style="text-align: center; width: 100%" id='removeButton' class="btn-default btn">Remove Selected Users</button>
            </div>
        </div>
    </div>

