<div class = "widget-column col-sm-12" style="clear: both;">

<div class="row userlist" style="margin: auto; width: 100%;">
    <span class="headings title">Users</span>
    <div class="panel-group useraccordion" style="overflow-y:auto; max-height:500px; width:100%">
        <table class="table table-condensed table-hover usertable" style="width:100%; padding: 0;">
        <col width="25%">
        <col width="16%">
        <col width="25%">
        <col width="10%">
        <col width="12%">
        <col width="12%">
        <thead>
            <tr>
                <th align="left" id="usr_display">Display Name</th>
                <th align="left" id="usr_job">Profession</th>
                <th align="left" id="usr_job">Last Login</th>
                <th align="left" id="usr_state">Active</th>
                <th align="left" id="usr_audit">&nbsp;</th>
                <th align="left" id="usr_audit">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
    </div>
    <span id="save-user-message"></span>
</div>

</div>