<div class = "widget-column col-sm-12" style="clear: both; padding-bottom: 50px;">

<div class="row userlist" style="margin: auto; width: 100%; clear: both;">
    <div class="widget-header">
        <h1 style="display: inline;">
            <small>
                Users
            </small>
        </h1>
        <a href="#" data-action="reload" class="refreshButton">
		    <i class="ace-icon fa fa-refresh btn-green"></i>
        </a>
    </div>
    <table class="table-condensed table-hover usertable-header" style="width:100%; padding: 0; table-layout: fixed; clear: both;">
        <col width="25%">
        <col width="25%">
        <col width="14%">
        <col width="*">
        <col width="12%">
        <col width="14%">
        <thead>
            <tr>
                <th align="left">Display Name</th>
                <!--<th align="left">Profession</th> -->
                <th align="left">Last Login</th>
                <th align="left">Status</th>
                <th align="left">&nbsp;</th>
                <th align="left">Notifications</th>
                <th align="left"></th>
            </tr>
        </thead>
    </table>
    <div class="panel-group useraccordion" style="overflow-y:auto; max-height:500px; width:100%; clear: both;">
        <table class="table table-condensed table-hover usertable" style="width:100%; padding: 0; table-layout: fixed;">
            <col width="25%">
            <col width="25%">
            <col width="14%">
            <col width="*">
            <col width="12%">
            <col width="14%">
            <tbody>
            </tbody>
        </table>
    </div>
</div>

</div>