<td>
    <%= (ehr_state == 'active') ? display_name : "<del>" + display_name + "</del>" %>
</td>
<td>
    <%= profession %>
</td>
<td>
    <%= last_login %> GMT
</td>
<td class="user-val-column">
    <input type="checkbox" class="user-state"
        <%= (state == 'active' && ehr_state == 'active') ? "checked='checked'" : '' %>
        <%= (ehr_state != 'active') ? "disabled" : '' %> >
</td>
<td>
    <% if (ehr_state == 'active') { %>
    <button class="btn btn-xs reset-user-password btn-default" value="">Reset Password</button>
    <% } %>
</td>
<td>
    <a class="audit-hover">
        View Audits
    </a>
</td>
