<div class = "widget-column col-sm-12" style="clear: both;">

<div class="row userlist" style="margin: auto; width: 100%; ">
    <div class="widget-header" style="position: relative; width:100%;">
    <span class="headings title" style="float:left;">Users</span>
      <% var d = new Date(); %>
      <button type="button" class="btn btn-default btn-xs refreshButton" data-dismiss="modal" style="margin-left:10px; color: #46ECBD; font-size: 10px;"
              title="Last Refresh: <%=  d.getMonth() + '-' + d.getDate() + '-' + d.getFullYear() + ' ' + d.getHours() + ':' + d.getMinutes()  + ':' + d.getSeconds() %>">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
    </div>
    <table class="table-condensed table-hover usertable-header" style="width:100%; padding: 0; table-layout: fixed;">
        <col width="20%">
        <col width="25%">
        <col width="21%">
        <col width="8%">
        <col width="*">
        <col width="*">
        <thead>
            <tr>
                <th align="left" id="usr_display">Display Name</th>
                <th align="left" id="usr_job">Profession</th>
                <th align="left" id="usr_job">Last Login</th>
                <th align="left" id="usr_state">Active</th>
                <th align="left" id="usr_audit">&nbsp;</th>
                <th align="left" id="usr_audit">&nbsp;</th>
            </tr>
        </thead>
    </table>
    <div class="panel-group useraccordion" style="overflow-y:auto; max-height:500px; width:100%">
        <table class="table table-condensed table-hover usertable" style="width:100%; padding: 0; table-layout: fixed;">
            <col width="20%">
            <col width="25%">
            <col width="21%">
            <col width="8%">
            <col width="*">
            <col width="*">
            <tbody>
            </tbody>
        </table>
    </div>
    <span id="save-user-message"></span>
</div>

</div>