        <div class="modal-header">
            <h4 class="modal-title">Welcome <%= display %></h4>
        </div>

        <div class="modal-body">
            <span class="headings title">Navigating Interactive Clinical Pathways</span>

            <div>
                <p>
                    Navigating starts by clicking on a node, and working down the decision tree. The tree path changes

                    from gray to providing a visual cue of the selected path. Your active node, or most recent click is

                    outlined in purple, and a yellow shaded box indicates a collapsed node. A care protocol is the final
                    node

                    for a branch, and is indicated by the green outline. This protocol can be copied and pasted to your
                    EHR

                    by clicking the copy icon.
                </p>
                <img src="../images/temp/Pathway_at_protocal_screenshot.png" style="display: block; width: 50%; height: 50%; margin-left: auto;
    margin-right: auto">
            </div>

        </div>

