<div style="max-width:300px" class="container">
  <span class="title headings">
    Your Rules:


  </span>

  <div class="maven-padding"></div>
  <div class="row">
    <table style="font-size:130%" name="testName" class="rule-table table table-condensed table-hover">
      <tbody>
      </tbody>
    </table>
  </div>
  <div class="maven-padding"></div>

      <button class="btn btn-info" id = "addRuleButton">
	        Create New Rule
      </button>
      <button class="btn btn-info" disabled = "true" id = "saveRuleButton">
	        Save Rule
      </button>
</div>
