<!-- Patient info -->
<div class="pat-nav">
    <nav class="navbar navbar-default navbar-fixed-top navbar-lower" role="navigation">
        <div class="container">
            <div class="col-sm-3 divider">
                <div class="row pat-title">
                    Patient Name:
                </div>
                <div class="row">
                    <span id="pat-name"><b>Suzy Smith</b></span>
                </div>
            </div>
            <div class="col-sm-2 divider">
                <div class="row pat-sub">
                    DOB:
                </div>
                <div class="row">
                    12/04/1985
                </div>
            </div>
            <div class="col-sm-3 divider">
                <div class="row pat-sub">
                    Allergies:
                </div>
                <div class="row">
                    Penicillin, Sulfa Drug
                </div>
            </div>
            <div class="col-sm-2 divider">
                <div class="row pat-sub">
                    Admission:
                </div>
                <div class="row">
                    02/15/2014
                </div>
            </div>
            <div class="col-sm-1">
                <div class="row pat-sub">
                    LOS:
                </div>
                <div class="row">
                    3
                </div>
            </div>
        </div>
    </nav>
</div>
<!-- /Patient info -->